include ./__layout-fonts/container__layout-fonts.pug
include ./__layout-colors/container__layout-colors.pug
include ./__layout-examples/container__layout-examples.pug
include ./__layout-logo/container__layout-logo.pug
include ./__layout/container__layout.pug
mixin container(args)
    -let modifierNames = '';
    -if (args === undefined) args = '';
        each val, key in args
            -modifierNames += 'container_' + key + '_' + val
    div.container&attributes(attributes)(class=modifierNames)
        if block
            block