include ./__layout/container__layout.pug
include ./__layout-colors/container__layout-colors.pug
include ./__layout-examples/container__layout-examples.pug
include ./__layout-fonts/container__layout-fonts.pug
include ./__layout-logo/container__layout-logo.pug

mixin container(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'div';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'container_' + key + '_' + val + ' ';
    #{args.tag}.container&attributes(attributes)(class=modifierNames)
        if block
            block