include ./__radio-button/radio-buttons__radio-button.pug
include ./__label/radio-buttons__label.pug
include ./__wrapper/radio-buttons__wrapper.pug

mixin radio-buttons(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'div';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'radio-buttons_' + key + '_' + val + ' ';
    #{args.tag}.radio-buttons&attributes(attributes)(class=modifierNames)
        +radio-buttons__wrapper
            +radio-buttons__radio-button({button: 'active'})(type="radio" name="gender" value="men" checked)
            +radio-buttons__label
                +body-text Мужчина
        +radio-buttons__wrapper
            +radio-buttons__radio-button({})(type="radio" name="gender" value="women")
            +radio-buttons__label
                +body-text Женщина
    if block
        block
