@media only screen and (max-width: 576px) {
  .Button-GhostBtn {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .Button-GhostBtn {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Button-GhostBtn {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .Button-GhostBtn {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .Button-GhostBtn {
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    background: $DatepickerGradient;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .Button-GhostBtn {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .Button-GhostBtn {

  }
}

