@media only screen and (max-width: 576px) {
  .LikeButton-Label_active {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .LikeButton-Label_active {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .LikeButton-Label_active {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .LikeButton-Label_active {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .LikeButton-Label_active {
    position: relative;
/*    border: none;
    background: $DatepickerGradient;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;*/
    //-webkit-text-fill-color: transparent;
/*    &:after {
      content: "";
      position: absolute;
      background: $background;
      left: 0;
      top: 0;
      width: 40px;
      height: 20px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-text-fill-color: transparent;
      border-radius: 10px;
    }*/
    &:before {
      content: "";
      position: absolute;
    }

  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .LikeButton-Label_active {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .LikeButton-Label_active {

  }
}

