@media only screen and (max-width: 576px) {
  .Container-Layout {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .Container-Layout {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Container-Layout {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .Container-Layout {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .Container-Layout {
    margin-bottom: 50px;
    background: $background;
    height: 900px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .Container-Layout {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .Container-Layout {

  }
}

