include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/Content/__WrapperLeft/Content__WrapperLeft.pug
include ../Common.blocks/LogoWrapper/LogoWrapper.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimazed' content='width')
        meta(name='apple-mobile-web-app-capable' content='yes')
    body
        +Container()
            +LogoWrapper()
                +Logo()
            +Content()
                +Content__WrapperLeft()
            (class= cl1)(class= cl2)(class= cl3)(class= cl4)(class= cl5)(class= cl6)(class= cl7)(class= cl8)
, cl1, cl2, cl3, cl4, cl5, cl6, cl7, cl8