@media only screen  and (max-width: 576px) {
  .Content__Wrapper {
    //display: flex;
    //flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 63px;
    padding-right: 2%;
    width: auto;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .Content__Wrapper {
    //display: flex;
    //flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 63px;
    padding-right: 2%;
    width: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .Content__Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 63px;
    padding-right: 5%;
    width: auto;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .Content__Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-top: 63px;
    padding-right: 177px;
    width: auto;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .Content__Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-top: 63px;
    padding-right: 15%;
    width: auto;
  }
}