@media only screen and (max-width: 576px) {
  .FigureDescriptionBlock-Hr {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .FigureDescriptionBlock-Hr {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .FigureDescriptionBlock-Hr {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .FigureDescriptionBlock-Hr {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .FigureDescriptionBlock-Hr {
    height: 1px;
    width: 280px;
    background: $DarkShade10;
    margin-top: 23px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .FigureDescriptionBlock-Hr {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .FigureDescriptionBlock-Hr {

  }
}

