.label-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: .75rem;
  line-height: 1.25em;
  text-transform: uppercase;
  color: $DarkShade100;
  margin: 0;
}

@media only screen and (min-width: 321px) {
  .label-text {

  }
}

@media only screen and (min-width: 576px) {
  .label-text {

  }
}

@media only screen and (min-width: 768px) {
  .label-text {

  }
}

@media only screen and (min-width: 992px) {
  .label-text {

  }
}

@media only screen and (min-width: 1200px) {
  .label-text {

  }
}

@media only screen and (min-width: 1440px) {
  .label-text {

  }
}

@media only screen and (min-width: 1681px) {
  .label-text {

  }
}

