include ./__description/color-example__description.pug
include ./__image/color-example__image.pug
mixin color-example(args)
    -let modifierNames = '';
    -if (args === undefined) args = '';
        each val, key in args
            -modifierNames += 'container__layout_' + key + '__' + val
    div.color-example&attributes(attributes)(class=modifierNames)
        if block
            block