mixin container__layout-examples(args)
    -let modifierNames = '';
    -if (args === undefined) args = '';
        each val, key in args
            -modifierNames += 'container__layout-examples_' + key + '_' + val
    div.container__layout-examples&attributes(attributes)(class=modifierNames)
        if block
            block