.main-title {
  font-family: Quicksand, 'Open Sans';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: $DarkShade100;
  margin: 0;
}

@media only screen and (min-width: 321px) {
  .main-title {

  }
}

@media only screen and (min-width: 576px) {
  .main-title {

  }
}

@media only screen and (min-width: 768px) {
  .main-title {

  }
}

@media only screen and (min-width: 992px) {
  .main-title {

  }
}

@media only screen and (min-width: 1200px) {
  .main-title {

  }
}

@media only screen and (min-width: 1440px) {
  .main-title {

  }
}

@media only screen and (min-width: 1681px) {
  .main-title {

  }
}

