@media only screen and (max-width: 576px) {
  .SubscrTxField-Icon {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .SubscrTxField-Icon {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .SubscrTxField-Icon {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .SubscrTxField-Icon {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .SubscrTxField-Icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: $DatepickerGradient;
    right: 0px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .SubscrTxField-Icon {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .SubscrTxField-Icon {

  }
}

