mixin text-field__input(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'div';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'text-field__input_' + key + '_' + val + ' ';
    #{args.tag}.text-field__input&attributes(attributes)(class=modifierNames)
        if block
            block