.ExampleText_FontStyle_Body {
  font-family: 'Montserrat-Regular', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}