.ExampleText_fontStyle_h3 {
  font-family: 'Montserrat-Bold', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: $ExampleText_fontSize_12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}