.ExampleText_FontStyle_H3 {
  font-family: 'Montserrat-Bold', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: $ExampleText_FontSize_12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  width: $ExampleText_FontSize_12px * 24.16;
}