@media only screen and (max-width: 576px) {
  .InputForButtonsAndInputs-Checkbox {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .InputForButtonsAndInputs-Checkbox {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .InputForButtonsAndInputs-Checkbox {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .InputForButtonsAndInputs-Checkbox {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .InputForButtonsAndInputs-Checkbox {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    background: $background;
    /* Dark 25% */
    border: 1px solid $DatepickerArrowColor;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
  }

  .checkArrow {
    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 8px;
      /* Primary Gradient */
      background: $DatepickerGradient;
      transform: rotate(45deg);
      left: 6px;
      top: 3px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 8px;
      /* Primary Gradient */
      background: $background;
      transform: rotate(45deg);
      left: 6px;
      top: 0px;
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .InputForButtonsAndInputs-Checkbox {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .InputForButtonsAndInputs-Checkbox {

  }
}

