@media only screen and (max-width: 576px) {
 .QuantityBlock__Num {

}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
 .QuantityBlock__Num {

 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .QuantityBlock__Num {

 }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
 .QuantityBlock__Num {

 }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
 .QuantityBlock__Num {
	width: 32px;
	background: transparent;
	border: none;
	appearance: none;
	-webkit-appearance: none;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat-bold;
  //padding: 0 0 6px 0;
  &:hover {
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
  }			
  &:focus {
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
  }   
  &:visited {
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
  } 
 }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
 .QuantityBlock__Num {

 }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
 .QuantityBlock__Num {

 }
}

