@media only screen and (max-width: 576px) {
  .PayButton-Text {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .PayButton-Text {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .PayButton-Text {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .PayButton-Text {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .PayButton-Text {
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $background;

  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .PayButton-Text {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .PayButton-Text {

  }
}

