mixin container__layout-colors(args)
    -let modifierNames = '';
    -if (args === undefined) args = '';
        each val, key in args
            -modifierNames += 'container__layout_' + key + '__' + val
    div.container__layout-colors&attributes(attributes)(class=modifierNames)
        if block
            block