@media only screen and (max-width: 576px) {
  .InputForButtonsAndInputs-CheckboxArrow {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .InputForButtonsAndInputs-CheckboxArrow {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .InputForButtonsAndInputs-CheckboxArrow {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .InputForButtonsAndInputs-CheckboxArrow {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .InputForButtonsAndInputs-CheckboxArrow {
/*    position: absolute;
    display: none;
    width: 6px;
    height: 8px;
    color: $DatepickerArrowColor;*/
/*    position: absolute;
    width: 6px;
    height: 8px;
    left: 150.71px;
    top: 1357.05px;

    !* Primary Gradient *!

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);*/
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .InputForButtonsAndInputs-CheckboxArrow {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .InputForButtonsAndInputs-CheckboxArrow {

  }
}

