mixin InputBlock__Select()
        select.InputBlock__Select&attributes(attributes)
            option(selected) Сколько гостей
            option() Сколько гостей
            option() Сколько гостей



