@media only screen and (max-width: 576px) {
  .DropdownDatepicker-ArrivalDate {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .DropdownDatepicker-ArrivalDate {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .DropdownDatepicker-ArrivalDate {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .DropdownDatepicker-ArrivalDate {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .DropdownDatepicker-ArrivalDate {
    display: flex;
    justify-content: space-between;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    width: 150px;
    height: 44px;
    padding: 10px 8px 12px 14px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    background-color: transparent;
    color: $DarkShade75;
    &:after {
      border: none;
      box-shadow: none;
    }
    &:before {
      border: none;
      box-shadow: none;
    }
    &:hover {
      border-color: $DarkShade50;
    }
    &:focus {
      border-color: $DarkShade50;
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .DropdownDatepicker-ArrivalDate {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .DropdownDatepicker-ArrivalDate {

  }
}

