@media only screen and (max-width: 576px) {
  .Pagination-AmountObjsOnPage {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .Pagination-AmountObjsOnPage {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Pagination-AmountObjsOnPage {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .Pagination-AmountObjsOnPage {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .Pagination-AmountObjsOnPage {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
    padding-left: 6px;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .Pagination-AmountObjsOnPage {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .Pagination-AmountObjsOnPage {

  }
}

