@media only screen and (max-width: 576px) {
  .RadioButtons-RadioButton {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .RadioButtons-RadioButton {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .RadioButtons-RadioButton {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .RadioButtons-RadioButton {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .RadioButtons-RadioButton {
    position: relative;
    -webkit-appearance: none;
    background: $background;
    /* Dark 25% */
    border: 1px solid $DarkShade25;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: 0;
  }

}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .RadioButtons-RadioButton {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .RadioButtons-RadioButton {

  }
}

