@font-face {
  font-family: "Quicksand";
  src: url('./Quicksand/Quicksand-Bold.eot'); /* IE9 Compat Modes */
  src: url('./Quicksand/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Quicksand/Quicksand-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Quicksand/Quicksand-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Quicksand/Quicksand-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Quicksand/Quicksand-Bold.svg#Quicksand') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url('./Quicksand/Quicksand-Regular.eot'); /* IE9 Compat Modes */
  src: url('./Quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Quicksand/Quicksand-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Quicksand/Quicksand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Quicksand/Quicksand-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Quicksand/Quicksand-Regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url('./OpenSans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('./OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./OpenSans/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./OpenSans/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./OpenSans/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./OpenSans/OpenSans-Bold.svg#Open Sans') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('./OpenSans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('./OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./OpenSans/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./OpenSans/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./OpenSans/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./OpenSans/OpenSans-Regular.svg#Open Sans') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url('./Montserrat/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('./Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Montserrat/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Montserrat/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Montserrat/Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Montserrat/Montserrat-Bold.svg#Montserrat') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url('./Montserrat/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('./Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Montserrat/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Montserrat/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Montserrat/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Montserrat/Montserrat-Regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  src: url('./MaterialIcons/MaterialIcons-Regular.eot'); /* IE9 Compat Modes */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./MaterialIcons/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./MaterialIcons/MaterialIcons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./MaterialIcons/MaterialIcons-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./MaterialIcons/MaterialIcons-Regular.svg#Material Icons') format('svg'); /* Legacy iOS */
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


