include ./__input/text-field__input.pug
include ./__header/text-field__header.pug
include ../label-text/label-text.pug


mixin text-field(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'div';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'text-field_' + key + '_' + val + ' ';
    #{args.tag}.text-field&attributes(attributes)(class=modifierNames)
        +text-field__header
            +label-text #{args.fieldType}
            +label-text({color: 'dark-shade50', font: 'light', text: 'uppercase'}) #{args.fieldState}
        +text-field__input
            if block
                block
