include ./__list-wrapper/checkbox-list__list-wrapper.pug
include ./__expandable/checkbox-list__expandable.pug
include ./__icon/checkbox-list__icon.pug
include ./__header/checkbox-list__header.pug

mixin checkbox-list(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'div';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'checkbox-list_' + key + '_' + val + ' ';
    #{args.tag}.checkbox-list&attributes(attributes)(class=modifierNames)
        +checkbox-list__header({theme: 'expandable'})
            +label-text #{args.checkboxListTitle}
            +checkbox-list__icon({},{iconTag: args.iconTag, iconClass: args.iconClass, iconContent: args.iconContent})
        if args.isExpandable !== undefined
            +checkbox-list__expandable
                if block
                    block
        else
            +checkbox-list__list-wrapper
                if block
                    block

