include ./__content/list__content.pug
include ./__item/list__item.pug

mixin list(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'ul';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'list_' + key + '_' + val + ' ';
    #{args.tag}.list&attributes(attributes)(class=modifierNames)
        each val, key in args.ContentOfItems
            +list__item
                +checkbox(type="checkbox")
                +list__content
                    +body-text #{val}
            if block
                block
