.body-text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: .875rem;
  line-height: 24px;
  color: $DarkShade75;
  margin: 0;
}

@media only screen and (min-width: 321px) {
  .body-text {

  }
}

@media only screen and (min-width: 576px) {
  .body-text {

  }
}

@media only screen and (min-width: 768px) {
  .body-text {

  }
}

@media only screen and (min-width: 992px) {
  .body-text {

  }
}

@media only screen and (min-width: 1200px) {
  .body-text {

  }
}

@media only screen and (min-width: 1440px) {
  .body-text {

  }
}

@media only screen and (min-width: 1681px) {
  .body-text {

  }
}

