@media only screen  and (max-width: 576px) {
 .Dropdown {

}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
 .Dropdown {

 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .Dropdown {

 }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
 .Dropdown {

 }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
 .Dropdown {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    padding: 12px 14px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: $DarkShade75;
    &:after {
     border: none;
     box-shadow: none;
    }
    &:before {
     border: none;
     box-shadow: none
    }
    &:hover {
     border-color: $DarkShade50;
    }
    &:focus {
     border-color: $DarkShade50;
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
 .Dropdown {

 }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
 .Dropdown {

 }
}

