include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/Content/__ColorSwatch/Content__ColorSwatch.pug
include ../Common.blocks/Content/__WrapperLeft/Content__WrapperLeft.pug
include ../Common.blocks/LogoWrapper/LogoWrapper.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimazed' content='width')
        meta(name='apple-mobile-web-app-capable' content='yes')
    body
        +Container()
            +LogoWrapper()
                +Logo()
            +Content()
                +Content__WrapperLeft()
                    +Content__ColorSwatch()
                    +Content__ColorSwatch('', 'Content_DarkShade_75')
                    +Content__ColorSwatch('', 'Content_DarkShade_50')
                    +Content__ColorSwatch('', 'Content_DarkShade_25')
                    +Content__ColorSwatch('', 'Content_DarkShade_05')
                    +Content__ColorSwatch('', 'Content_Bg_dsfsd')
                    +Content__ColorSwatch('', 'Content_Fg_1')