include ../Common.blocks/InputForButtonsAndInputs/-Checkbox/InputForButtonsAndInputs-Checkbox.pug
include ../Common.blocks/Wrapper/-ExpandableCheckboxListOpen/Wrapper-ExpandableCheckboxListOpen.pug
include ../Common.blocks/CommentBlock/-WrapperDescription/CommentBlock-WrapperDescription.pug
include ../Common.blocks/CommentBlock/-WrapperLike/CommentBlock-WrapperLike.pug
include ../Common.blocks/CommentBlock/-WrapperLikeAndDescription/CommentBlock-WrapperLikeAndDescription.pug
include ../Common.blocks/LikeButtonBlock/LikeButtonBlock.pug
include ../Common.blocks/CommentBlock/CommentBlock.pug
include ../Common.blocks/BulletList/BulletList.pug
include ../Common.blocks/PaginationBlock/PaginationBlock.pug
include ../Common.blocks/PayButton/PayButton.pug
include ../Common.blocks/Button/Button.pug
include ../Common.blocks/ButtonsBlock/-WrapperForSamples/ButtonsBlock-WrapperForSamples.pug
include ../Common.blocks/TitleBlock/-H6/TitleBlock-H6.pug
include ../Common.blocks/ButtonsBlock/ButtonsBlock.pug
include ../Common.blocks/Content/-WrapperRow/Content-WrapperRow.pug
include ../Common.blocks/Content/-WrappperRow/Content-WrappperRow.pug
include ../Common.blocks/Content/-LeftColumn/Content-LeftColumn.pug
include ../Common.blocks/Content/-RightColumn/Content-RightColumn.pug
include ../Common.blocks/Wrapper/-RightColumn/Wrapper-RightColumn.pug
include ../Common.blocks/Wrapper/-LeftColumn/Wrapper-LeftColumn.pug
include ../Common.blocks/RangeSlider/RangeSlider.pug
include ../Common.blocks/RangeSliderBlock/RangeSliderBlock.pug
include ../Common.blocks/List/-WrapperForDescription/List-WrapperForDescription.pug
include ../Common.blocks/RichCheckboxButtons/RichCheckboxButtons.pug
include ../Common.blocks/Wrapper/-FirstDropdownGuests/Wrapper-FirstDropdownGuests.pug
include ../Common.blocks/RateButton/RateButton.pug
include ../Common.blocks/LikeButton/LikeButton.pug
include ../Common.blocks/Toggle/Toggle.pug
include ../Common.blocks/RadioButtons/RadioButtons.pug
include ../Common.blocks/Wrapper/-CheckboxButtons/Wrapper-CheckboxButtons.pug
include ../Common.blocks/Content/-RightWrapper/Content-RightWrapper.pug
include ../Common.blocks/FigureDescriptionBlock/-Wrapper/FigureDescriptionBlock-Wrapper.pug
include ../Common.blocks/FigureDescriptionBlock/FigureDescriptionBlock.pug
include ../Common.blocks/FigureDescriptionBlock/-Figcaption/FigureDescriptionBlock-Figcaption.pug
include ../Common.blocks/FigcaptionDescriptionBlock/FigcaptionDescriptionBlock.pug

include ../Common.blocks/Wrapper/-DescriptionBlock/Wrapper-DescriptionBlock.pug
include ../Common.blocks/DescriptionBlock/DescriptionBlock.pug
include ../Common.blocks/TitleBlock/-Icon/TitleBlock-Icon.pug
include ../Common.blocks/ExpandableCheckboxList/-Header/ExpandableCheckboxList-Header.pug
include ../Common.blocks/TitleBlock/-H3/TitleBlock-H3.pug
include ../Common.blocks/TitleBlock/-H/TitleBlock-H.pug
include ../Common.blocks/ExpandableCheckboxList/-List/ExpandableCheckboxList-List.pug
include ../Common.blocks/List/-Item/List-Item.pug
include ../Common.blocks/Wrapper/-ExpandableCheckboxList/Wrapper-ExpandableCheckboxList.pug
include ../Common.blocks/ExpandableCheckboxList/ExpandableCheckboxList.pug
include ../Common.blocks/InputForButtonsAndInputs/InputForButtonsAndInputs.pug
include ../Common.blocks/ImageForButtonsAndInputs/ImageForButtonsAndInputs.pug
include ../Common.blocks/DescriptionForButtonsAndInputs/DescriptionForButtonsAndInputs.pug

include ../Common.blocks/TitleForButtonsAndInputs/TitleForButtonsAndInputs.pug
include ../Common.blocks/TitleBlock/TitleBlock.pug
include ../Common.blocks/List/List.pug
include ../Common.blocks/InputBlock/-Form/InputBlock-Form.pug
include ../Common.blocks/Wrapper/-FilterDateDropdown/Wrapper-FilterDateDropdown.pug
include ../Common.blocks/FilterDateDropdown/-Dropdown/FilterDateDropdown-Dropdown.pug
include ../Common.blocks/FilterDateDropdown/-Icon/FilterDateDropdown-Icon.pug
include ../Common.blocks/FilterDateDropdown/-Open/FilterDateDropdown-Open.pug
include ../Common.blocks/FilterDateDropdown/-InputHidden/FilterDateDropdown-InputHidden.pug
include ../Common.blocks/FilterDateDropdown/-AirDatepicker/FilterDateDropdown-AirDatepicker.pug
include ../Common.blocks/FilterDateDropdown/FilterDateDropdown.pug
include ../Common.blocks/DropdownDatepicker/-AirDatepicker/DropdownDatepicker-AirDatepicker.pug
include ../Common.blocks/DropdownDatepicker/-InputHidden/DropdownDatepicker-InputHidden.pug
include ../Common.blocks/DropdownDatepicker/-WrapperForDropdown/DropdownDatepicker-WrapperForDropdown.pug
include ../Common.blocks/DropdownDatepicker/-ResetButton/DropdownDatepicker-ResetButton.pug
include ../Common.blocks/DropdownDatepicker/-SelectDateOfDeparture/DropdownDatepicker-SelectDateOfDeparture.pug
include ../Common.blocks/DropdownDatepicker/-SelectArrivalDate/DropdownDatepicker-SelectArrivalDate.pug
include ../Common.blocks/DropdownDatepicker/-WrapperForDatepicker/DropdownDatepicker-WrapperForDatepicker.pug
include ../Common.blocks/DropdownDatepicker/-DateOfDeparture/DropdownDatepicker-DateOfDeparture.pug
include ../Common.blocks/DropdownDatepicker/-ArrivalDate/DropdownDatepicker-ArrivalDate.pug

include ../Common.blocks/DropdownDatepicker/-Open/DropdownDatepicker-Open.pug
include ../Common.blocks/DropdownDatepicker/-Icon/DropdownDatepicker-Icon.pug
include ../Common.blocks/DropdownDatepicker/DropdownDatepicker.pug

include ../Common.blocks/DropdownGuests/-Option/DropdownGuests-Option.pug
include ../Common.blocks/DropdownGuests/DropdownGuests.pug
include ../Common.blocks/Wrapper/-FacilitiesDropdown/Wrapper-FacilitiesDropdown.pug
include ../Common.blocks/Wrapper/-DateDropdown/Wrapper-DateDropdown.pug
include ../Common.blocks/Wrapper/-GuestsDropdown/Wrapper-GuestsDropdown.pug
include ../Common.blocks/Wrapper/-MasketField/Wrapper-MasketField.pug
include ../Common.blocks/Dropdown/-Option/Dropdown-Option.pug
include ../Common.blocks/Dropdown/Dropdown.pug
include ../Common.blocks/Wrapper/-FormElements/Wrapper-FormElements.pug
include ../Common.blocks/InputBlock/-Dropdown/InputBlock-Dropdown.pug
include ../Common.blocks/InputBlock/-WrapperForSelectWithArrow/InputBlock-WrapperForSelectWithArrow.pug
include ../Common.blocks/InputBlock/-SelectArrow/InputBlock-SelectArrow.pug
include ../Common.blocks/InputBlock/-Option/InputBlock-Option.pug
include ../Common.blocks/InputBlock/-Select/InputBlock-Select.pug
include ../Common.blocks/InputBlock/-Wrapper/InputBlock-Wrapper.pug
include ../Common.blocks/Content/-WrapperForFormElements/Content-WrapperForFormElements.pug
include ../Common.blocks/InputBlock/-FieldName/InputBlock-FieldName.pug
include ../Common.blocks/InputBlock/-FieldDescription/InputBlock-FieldDescription.pug
include ../Common.blocks/InputBlock/-InputField/InputBlock-InputField.pug
include ../Common.blocks/InputBlock/InputBlock.pug
include ../Common.blocks/ExampleText/-Wrapper/ExampleText-Wrapper.pug
include ../Common.blocks/ExampleText/-Text/ExampleText-Text.pug
include ../Common.blocks/ExampleText/-Header/ExampleText-Header.pug
include ../Common.blocks/ExampleText/ExampleText.pug
include ../Common.blocks/FigureHtml5/-FigcaptionWrapper/FigureHtml5-FigcaptionWrapper.pug
include ../Common.blocks/FigureHtml5/-Figcaption/FigureHtml5-Figcaption.pug
include ../Common.blocks/FigureHtml5/-Image/FigureHtml5-Image.pug
include ../Common.blocks/FigureHtml5/FigureHtml5.pug
include ../Common.blocks/Wrapper/Wrapper.pug
include ../Common.blocks/ColorSwatch/ColorSwatch.pug
include ../Common.blocks/Content/-Wrapper/Content-Wrapper.pug
include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/LogoWrapper/LogoWrapper.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimazed' content='width')


    body
        +Container('', 'Container_bgColor_white Container_marBot_50px')
            +LogoWrapper()
                +Logo()
            +Content('', 'Content-Wrapper')
                +Wrapper()
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_dsh100')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 100%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_dsh75')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 75%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_dsh50')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 50%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_dsh25')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 25%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_dsh05')
                        +FigureHtml5-FigcaptionWrapper('', 'FigureHtml5_pdTop_correct')
                            +FigureHtml5-Figcaption('Dark Shade 5%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_purple')
                        +FigureHtml5-FigcaptionWrapper('', 'FigureHtml5_pdTop_correct')
                            +FigureHtml5-Figcaption('Purple')
                            +FigureHtml5-Figcaption('#BC9CFF', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_pdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_bg_green')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Green')
                            +FigureHtml5-Figcaption('#6FCF97', 'FigureHtml5_fw_400 FigureHtml5_ff_quicksandRegular')
                +Wrapper()
                    +ExampleText()
                        +ExampleText-Header('H1', 'ExampleText_fontSize_24px ExampleText_lineH_29')
                        +ExampleText-Text('This one is the sub-section or widget title', 'ExampleText_fontStyle_h1')
                    +ExampleText()
                        +ExampleText-Header('H2', 'ExampleText_fontSize_19px ExampleText_lineH_23')
                        +ExampleText-Text('Next one is the item title inside widgets', 'ExampleText_fontStyle_h2')
                    +ExampleText()
                        +ExampleText-Header('H3', 'ExampleText_fontSize_12px ExampleText_textTransf_upper ExampleText_lineH_15')
                        +ExampleText-Text('This is a label or CTA text', 'ExampleText_fontStyle_h3 ExampleText_pdBot_correct')
                    +ExampleText()
                        +ExampleText-Header('Body', 'ExampleText_fontSize_14px ExampleText_lineH_24')
                        +ExampleText-Text('This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'ExampleText_fontStyle_body ExampleText_pdR_34 ExampleText_width_316px')
        +Container('', 'Container_bgColor_white Container_marBot_50px Container_height_1853px')
            +LogoWrapper()
                +Logo()
            +Content()
                +Content-WrapperForFormElements()
                    +Wrapper()
                        +InputBlock()(class='Wrapper-FormElements')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('text field')
                                +InputBlock-FieldDescription('default')
                            +InputBlock-Form()
                                +InputBlock-InputField()(class='InputBlock_color_dark25', type='text', placeholder='Email')
                        +InputBlock()(class='Wrapper-FormElements')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('text field')
                                +InputBlock-FieldDescription('HOVER / FOCUS')(class='InputBlock_pdTop_3px')
                            +InputBlock-Form()
                                +InputBlock-InputField()(class='InputBlock_color_dark75', type='text', placeholder='This is pretty awesome')
                        +InputBlock()(class='Wrapper-GuestsDropdown')
                            +InputBlock-Wrapper
                                +InputBlock-FieldName('dropdown')
                                +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
                            +InputBlock-Form()
                                Select.DropdownGuests(multiple='multiple', id="DropdownGuests", name='DropdownGuests', size='3')
                                    +DropdownGuests-Option('взрослые')(value='adults')
                                    +DropdownGuests-Option('дети')(value='children')
                                    +DropdownGuests-Option('младенцы')(value='babies')
                        +InputBlock()(class='Wrapper-MasketField')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('masked text field')
                                +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_1px')
                            +InputBlock-Form()
                                +InputBlock-InputField()(class='InputBlock_color_dark75', type='text', placeholder='ДД.ММ.ГГГГ')
                        +DropdownDatepicker()(class='Wrapper-DateDropdown')
                            +DropdownDatepicker-WrapperForDropdown()
                                +InputBlock()
                                    +InputBlock-Wrapper
                                        +InputBlock-FieldName('date dropdown')
                                +DropdownDatepicker-ArrivalDate()
                                    +DropdownDatepicker-InputHidden(type="hidden")
                                    +DropdownDatepicker-Open() ДД.ММ.ГГГГ
                                    +DropdownDatepicker-Icon()
                                        i.material-icons expand_more
                                +DropdownDatepicker-AirDatepicker()
                            +DropdownDatepicker-WrapperForDropdown()
                                +InputBlock()
                                    +InputBlock-Wrapper
                                        +InputBlock-FieldName('date dropdown')
                                +DropdownDatepicker-DateOfDeparture()
                                    +DropdownDatepicker-InputHidden(type="hidden")
                                    +DropdownDatepicker-Open() 19.08.2019
                                    +DropdownDatepicker-Icon()
                                        i.material-icons expand_more
                        +InputBlock(class='Wrapper-FilterDateDropdown')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('filter date dropdown')
                            +FilterDateDropdown()
                                +FilterDateDropdown-Dropdown()
                                    +FilterDateDropdown-InputHidden(type='hidden')
                                    +FilterDateDropdown-Open() 19 авг - 23 авг
                                    +FilterDateDropdown-Icon()
                                        i.material-icons expand_more
                                +FilterDateDropdown-AirDatepicker()
                        +InputBlock()
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('subscription text field')
                            +InputBlock-Form()
                                +InputBlock-WrapperForSelectWithArrow()
                                    +InputBlock-SelectArrow('arrow_forward')
                                    +InputBlock-InputField(type='text' placeholder='Email' class='InputBlock_width_266px InputBlock_appearan_none InputBlock_pdTop_11px InputBlock_letterSpacing_0px InputBlock_mrBot_97px InputBlock_color_dark75')
                        +InputBlock()(class='Wrapper-FacilitiesDropdown')
                            +InputBlock-Wrapper(class='InputBlock_width_265px')
                                +InputBlock-FieldName('dropdown')
                                +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
                            select.Dropdown(multiple='multiple', id="dropdownFacilities", name='dropdownFacilities', size='3')
                                +Dropdown-Option('спальни', 'selected')(value='bedrooms')
                                +Dropdown-Option('кровати', 'selected')(value='beds')
                                +Dropdown-Option('комнаты')(value='bathrooms')
                        +InputBlock()(class='Wrapper-FacilitiesDropdown')
                            +InputBlock-Wrapper(class='InputBlock_width_265px')
                                +InputBlock-FieldName('dropdown')
                                +InputBlock-FieldDescription('expanded')(class='InputBlock_pdTop_3px')
                            select.Dropdown(multiple='multiple', id="dropdownFacilitiesExpanded", name='dropdownFacilities', size='3')
                                +Dropdown-Option('спальни', 'selected')(value='bedrooms')
                                +Dropdown-Option('кровати', 'selected')(value='beds')
                                +Dropdown-Option('ванные комнаты')(value='bathrooms')
                        +Wrapper-ExpandableCheckboxList()
                            +ExpandableCheckboxList()
                                +TitleBlock.ExpandableCheckboxList-Header()
                                    +TitleBlock-H3() expandable checkbox list
                                    +TitleBlock-Icon()
                                        i.material-icons expand_more
                                +List.ExpandableCheckboxList-List()
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Завтрак
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Письменный стол
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Стул для кормления
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Кроватка
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Шампунь
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Шампунь
                        +Wrapper-ExpandableCheckboxListOpen()
                            +ExpandableCheckboxList()
                                +TitleBlock.ExpandableCheckboxList-Header()
                                    +TitleBlock-H3() expandable checkbox list
                                    +TitleBlock-Icon()
                                        i.material-icons expand_more
                                +List.ExpandableCheckboxList-List(style="display: block;")
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Завтрак
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                        +DescriptionForButtonsAndInputs() Письменный стол
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                        +DescriptionForButtonsAndInputs() Стул для кормления
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                        +DescriptionForButtonsAndInputs() Кроватка
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Шампунь
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Шампунь
                        +Wrapper-DescriptionBlock()
                            +FigureDescriptionBlock()
                                +FigureDescriptionBlock-Wrapper()
                                    +ImageForButtonsAndInputs()
                                        i.material-icons insert_emoticon
                                    +FigureDescriptionBlock-Figcaption()
                                        +TitleForButtonsAndInputs() Комфорт
                                        +DescriptionForButtonsAndInputs() Шумопоглощающие стены
                        +Wrapper-DescriptionBlock()
                            +FigureDescriptionBlock()
                                +FigureDescriptionBlock-Wrapper()
                                    +ImageForButtonsAndInputs()
                                        i.material-icons location_city
                                    +FigureDescriptionBlock-Figcaption()
                                        +TitleForButtonsAndInputs() Удобство
                                        +DescriptionForButtonsAndInputs() Окно в каждой из спален
                    +Wrapper.Content-RightWrapper()
                        +Wrapper.Content-WrapperRow()
                            +Wrapper()
                                +ExpandableCheckboxList()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() Checkbox Buttons
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Можно курить
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Можно с питомцами
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Можно пригласить гостей (до 10 человек)
                                +RadioButtons()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() Radio Buttons
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Мужчина
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Женщина
                                +Toggle()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() Toggle
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Получать спецпредложения
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Получать спецпредложения
                                +LikeButtonBlock()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() like button
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            +LikeButton()
                                            +LikeButton()
                                        +List-Item()
                                            +LikeButton()
                                +RateButton()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() rate button
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            //+InputForButtonsAndInputs(type="checkbox")
                                        +List-Item()
                                            //+InputForButtonsAndInputs(type="checkbox")
                                +Wrapper-FirstDropdownGuests()
                                    +InputBlock()(class='')
                                        +InputBlock-Wrapper
                                            +InputBlock-FieldName('dropdown')
                                            +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
                                        +InputBlock-Form()
                                            Select.DropdownGuests(multiple='multiple', id="DropdownGuests2", name='DropdownGuests', size='3')
                                                +DropdownGuests-Option('взрослые')(value='adults')
                                                +DropdownGuests-Option('дети')(value='children')
                                                +DropdownGuests-Option('младенцы')(value='babies')
                                //+RichCheckboxButtons()
                                +ExpandableCheckboxList()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() rich checkbox buttons
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +List-WrapperForDescription()
                                                +TitleForButtonsAndInputs() Широкий коридор
                                                +DescriptionForButtonsAndInputs() Ширина коридоров в номере не менее 91 см.
                                        +List-Item()
                                            +InputForButtonsAndInputs(type="checkbox")
                                            +List-WrapperForDescription()
                                                +TitleForButtonsAndInputs() Помощник для инвалидов
                                                +DescriptionForButtonsAndInputs() На 1 этаже вас встретит специалист и проводит до номера.
                            +Wrapper.Content-RightColumn()
                                +RangeSliderBlock()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() range slider
                                        +TitleBlock-H6() 5 000₽ - 10 000₽

                                    +RangeSlider()
                                +ButtonsBlock()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() buttons
                                    +ButtonsBlock-WrapperForSamples()
                                        +Button()
                                        +Button()
                                    +ButtonsBlock-WrapperForSamples()
                                        +Button()
                                        +Button()
                                    +ButtonsBlock-WrapperForSamples()
                                        +Button()
                                        +Button()
                                    +ButtonsBlock-WrapperForSamples()
                                        +PayButton()
                                +PaginationBlock()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() pagination
                                +Wrapper-FirstDropdownGuests()
                                    +InputBlock()(class='')
                                        +InputBlock-Wrapper
                                            +InputBlock-FieldName('dropdown')
                                            +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
                                        +InputBlock-Form()
                                            Select.DropdownGuests(multiple='multiple', id="DropdownGuests3", name='DropdownGuests', size='3')
                                                +DropdownGuests-Option('взрослые')(value='adults')
                                                +DropdownGuests-Option('дети')(value='children')
                                                +DropdownGuests-Option('младенцы')(value='babies')
                                +BulletList()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() Checkbox Buttons
                                    +List.ExpandableCheckboxList-List()
                                        +List-Item()
                                            +DescriptionForButtonsAndInputs() Нельзя с питомцами
                                        +List-Item()
                                            +DescriptionForButtonsAndInputs() Без вечеринок и мероприятий
                                        +List-Item()
                                            +DescriptionForButtonsAndInputs() Время прибытия — после 13:00, а выезд до 12:00
                        +Wrapper()
                            +CommentBlock()
                                +FigureDescriptionBlock()
                                    +FigureDescriptionBlock-Wrapper()
                                        +ImageForButtonsAndInputs()
                                            i.material-icons insert_emoticon
                                        +FigureDescriptionBlock-Figcaption()
                                            +TitleForButtonsAndInputs() Мурад Сарафанов
                                            +DescriptionForButtonsAndInputs() 5 дней назад
                                +CommentBlock-WrapperLikeAndDescription()
                                    +CommentBlock-WrapperLike()
                                        +LikeButton()
                                    +CommentBlock-WrapperDescription()
                                        +DescriptionForButtonsAndInputs() Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.



//+Wrapper-CheckboxButtons()
