include ../Common.blocks/Content/__ColorDescriptionWrapper/Content__ColorDescriptionWrapper.pug
include ../Common.blocks/Content/__ColorNameDescription/Content__ColorNameDescription.pug
include ../Common.blocks/Content/__ColorName/Content__ColorName.pug
include ../Common.blocks/Content/__ColorSwatchWrapper/Content__ColorSwatchWrapper.pug
include ../Common.blocks/Content/__WrapperRight/Content__WrapperRight.pug
include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/Content/__ColorSwatch/Content__ColorSwatch.pug
include ../Common.blocks/Content/__WrapperLeft/Content__WrapperLeft.pug
include ../Common.blocks/LogoWrapper/LogoWrapper.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimazed' content='width')

    body
        +Container()
            +LogoWrapper()
                +Logo()
            +Content()
                +Content__WrapperLeft()
                    +Content__ColorSwatchWrapper()
                        +Content__ColorSwatch()
                        +Content__ColorSwatch('', 'Content_BgColor_DarkShade75')
                        +Content__ColorSwatch('', 'Content_BgColor_DarkShade50')
                        +Content__ColorSwatch('', 'Content_BgColor_DarkShade25')
                        +Content__ColorSwatch('', 'Content_BgColor_DarkShade05')
                        +Content__ColorSwatch('', 'Content_BgColor_Purple')
                        +Content__ColorSwatch('', 'Content_BgColor_Green')
                    +Content__ColorSwatchWrapper()
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Dark Shade 100%')
                            +Content__ColorNameDescription('#1F2041')
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Dark Shade 75%')
                            +Content__ColorNameDescription('#1F2041')
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Dark Shade 50%')
                            +Content__ColorNameDescription('#1F2041')
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Dark Shade 25%')
                            +Content__ColorNameDescription('#1F2041')
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Dark Shade 5%')
                            +Content__ColorNameDescription('#1F2041')
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Purple')
                            +Content__ColorNameDescription('#BC9CFF')
                        +Content__ColorDescriptionWrapper()
                            +Content__ColorName('Green')
                            +Content__ColorNameDescription('#6FCF97')
                +Content__WrapperRight()