include ../Common.blocks/FormElements/-DropdownFacilities/FormElements-DropdownFacilities.pug
include ../Common.blocks/FormElements/-SubscrTxField/FormElements-SubscrTxField.pug
include ../Common.blocks/SubscrTxField/-Icon/SubscrTxField-Icon.pug
include ../Common.blocks/SubscrTxField/-InputField/SubscrTxField-InputField.pug
include ../Common.blocks/SubscrTxField/SubscrTxField.pug
include ../Common.blocks/FormElSubscrTxField/FormElSubscrTxField.pug
include ../Common.blocks/InputField/-Icon/InputField-Icon.pug
include ../Common.blocks/InputField/-Arrow/InputField-Arrow.pug
include ../Common.blocks/FormElements/-FilterDateDropdown/FormElements-FilterDateDropdown.pug
include ../Common.blocks/DropdownDatepicker/-Header/DropdownDatepicker-Header.pug
include ../Common.blocks/FormElements/-DropdownGuests/FormElements-DropdownGuests.pug
include ../Common.blocks/FormElements/-Dropdown/FormElements-Dropdown.pug
include ../Common.blocks/FormElements/-Datepicker/FormElements-Datepicker.pug
include ../Common.blocks/FormElements/-TxField/FormElements-TxField.pug
include ../Common.blocks/FormElementsDescrSt/FormElementsDescrSt.pug
include ../Common.blocks/FormElements/-CorrectiveWrapper/FormElements-CorrectiveWrapper.pug
include ../Common.blocks/FieldOfSignIn/-Header/FieldOfSignIn-Header.pug
include ../Common.blocks/FieldOfSignIn/FieldOfSignIn.pug
include ../Common.blocks/InputField/InputField.pug
include ../Common.blocks/FormElements/-Wrapper/FormElements-Wrapper.pug
include ../Common.blocks/FormElements/FormElements.pug
include ../Common.blocks/BodyText/BodyText.pug
include ../Common.blocks/LabelText/LabelText.pug
include ../Common.blocks/ColorExample/-ColorName/ColorExample-ColorName.pug
include ../Common.blocks/TitleInsideWidget/TitleInsideWidget.pug
include ../Common.blocks/ColorsExamples/-Description/ColorsExamples-Description.pug
include ../Common.blocks/ColorExample/ColorExample.pug
include ../Common.blocks/ColorsExamples/ColorsExamples.pug
include ../Common.blocks/ColorsAndType/-Wrapper/ColorsAndType-Wrapper.pug
include ../Common.blocks/ColorsAndType/ColorsAndType.pug
include ../Common.blocks/UIKitMarkup/UIKitMarkup.pug
include ../Common.blocks/WidgetTitle/WidgetTitle.pug
include ../Common.blocks/Container/-Layout/Container-Layout.pug
include ../Common.blocks/Content/-WrapperForColorsAndType/Content-WrapperForColorsAndType.pug
include ../Common.blocks/Wrapper/-ThirdDropdownGuests/Wrapper-ThirdDropdownGuests.pug
include ../Common.blocks/Pagination/-Dots/Pagination-Dots.pug
include ../Common.blocks/Pagination/-PrevNextPage/Pagination-PrevNextPage.pug
include ../Common.blocks/Wrapper/-PaginationTitle/Wrapper-PaginationTitle.pug
include ../Common.blocks/Pagination/-List/Pagination-List.pug
include ../Common.blocks/Pagination/-Page/Pagination-Page.pug
include ../Common.blocks/Pagination/-LinkPage/Pagination-LinkPage.pug
include ../Common.blocks/Pagination/-AmountObjsOnPage/Pagination-AmountObjsOnPage.pug
include ../Common.blocks/Pagination/Pagination.pug
include ../Common.blocks/Wrapper/-Pagination/Wrapper-Pagination.pug
include ../Common.blocks/PayButton/-Arrow/PayButton-Arrow.pug
include ../Common.blocks/PayButton/-Text/PayButton-Text.pug
include ../Common.blocks/PayButton/-Content/PayButton-Content.pug
include ../Common.blocks/ButtonsBlock/-WrapperForLeftButton/ButtonsBlock-WrapperForLeftButton.pug
include ../Common.blocks/GradientButton/-Btn/GradientButton-Btn.pug
include ../Common.blocks/GradientButton/GradientButton.pug
include ../Common.blocks/Button/-GhostBtn/Button-GhostBtn.pug
include ../Common.blocks/Button/-Btn/Button-Btn.pug
include ../Common.blocks/Button/-Content/Button-Content.pug
include ../Common.blocks/Wrapper/-Buttons/Wrapper-Buttons.pug
include ../Common.blocks/RangeSlider/-Wrapper/RangeSlider-Wrapper.pug
include ../Common.blocks/RangeSlider/-Title/RangeSlider-Title.pug
include ../Common.blocks/RangeSlider/-Range/RangeSlider-Range.pug
include ../Common.blocks/RangeSlider/-Slider/RangeSlider-Slider.pug
include ../Common.blocks/Wrapper/-RangeSlider/Wrapper-RangeSlider.pug
include ../Common.blocks/RichCheckboxButtons/-Description/RichCheckboxButtons-Description.pug
include ../Common.blocks/RichCheckboxButtons/-Title/RichCheckboxButtons-Title.pug
include ../Common.blocks/RichCheckboxButtons/-Item/RichCheckboxButtons-Item.pug
include ../Common.blocks/Wrapper/-Footer/Wrapper-Footer.pug
include ../Common.blocks/RichCheckboxButtons/-List/RichCheckboxButtons-List.pug
include ../Common.blocks/RichCheckboxButtons/-Header/RichCheckboxButtons-Header.pug
include ../Common.blocks/Wrapper/-SecondDropdownGuests/Wrapper-SecondDropdownGuests.pug
include ../Common.blocks/Wrapper/-RateButtonSeparator/Wrapper-RateButtonSeparator.pug
include ../Common.blocks/Wrapper/-RateButtonWrapper/Wrapper-RateButtonWrapper.pug
include ../Common.blocks/RateButton/-InputHidden/RateButton-InputHidden.pug
include ../Common.blocks/RateButton/-StarIcon/RateButton-StarIcon.pug
include ../Common.blocks/RateButton/-Star/RateButton-Star.pug
include ../Common.blocks/Wrapper/-RateButton/Wrapper-RateButton.pug
include ../Common.blocks/LikeButton/-GradientBorder/LikeButton-GradientBorder.pug
include ../Common.blocks/Wrapper/-LikeButtonWrapperFirst/Wrapper-LikeButtonWrapperFirst.pug
include ../Common.blocks/Wrapper/-LikeButtonWrapperFirst/Wrapper-LikeButtonWrapperFirst.pug
include ../Common.blocks/LikeButton/-NumberLikes/LikeButton-NumberLikes.pug
include ../Common.blocks/LikeButton/-Icon/LikeButton-Icon.pug
include ../Common.blocks/Wrapper/-LikeButtonWrapper/Wrapper-LikeButtonWrapper.pug
include ../Common.blocks/Wrapper/-ToggleWrapper/Wrapper-ToggleWrapper.pug
include ../Common.blocks/LikeButton/-Label/LikeButton-Label.pug
include ../Common.blocks/LikeButton/-Button/LikeButton-Button.pug
include ../Common.blocks/LikeButton/LikeButton.pug
include ../Common.blocks/Wrapper/-LikeButton/Wrapper-LikeButton.pug
include ../Common.blocks/Wrapper/-Toggle/Wrapper-Toggle.pug
include ../Common.blocks/Toggle/-Wrapper/Toggle-Wrapper.pug
include ../Common.blocks/ToggleButton/-Label/ToggleButton-Label.pug
include ../Common.blocks/ToggleButton/-Button/ToggleButton-Button.pug
include ../Common.blocks/ToggleButton/ToggleButton.pug
include ../Common.blocks/Wrapper/-RadioButtons/Wrapper-RadioButtons.pug
include ../Common.blocks/RadioButtons/-Label/RadioButtons-Label.pug
include ../Common.blocks/RadioButtons/-RadioButton/RadioButtons-RadioButton.pug
include ../Common.blocks/RadioButtons/-Wrapper/RadioButtons-Wrapper.pug
include ../Common.blocks/RadioButton/RadioButton.pug
include ../Common.blocks/InputForButtonsAndInputs/-Radio/InputForButtonsAndInputs-Radio.pug
include ../Common.blocks/CheckboxList/CheckboxList.pug
include ../Common.blocks/CheckboxList/-Header/CheckboxList-Header.pug
include ../Common.blocks/CheckboxList/-List/CheckboxList-List.pug
include ../Common.blocks/Wrapper/-DescriptionBlockFacilities/Wrapper-DescriptionBlockFacilities.pug
include ../Common.blocks/FigureDescriptionBlock/-Hr/FigureDescriptionBlock-Hr.pug
include ../Common.blocks/FigureDescriptionBlock/-Header/FigureDescriptionBlock-Header.pug
include ../Common.blocks/InputForButtonsAndInputs/-Checkbox/InputForButtonsAndInputs-Checkbox.pug
include ../Common.blocks/Wrapper/-ExpandableCheckboxListOpen/Wrapper-ExpandableCheckboxListOpen.pug
include ../Common.blocks/CommentBlock/-WrapperDescription/CommentBlock-WrapperDescription.pug
include ../Common.blocks/CommentBlock/-WrapperLike/CommentBlock-WrapperLike.pug
include ../Common.blocks/CommentBlock/-WrapperLikeAndDescription/CommentBlock-WrapperLikeAndDescription.pug
include ../Common.blocks/LikeButtonBlock/LikeButtonBlock.pug
include ../Common.blocks/CommentBlock/CommentBlock.pug
include ../Common.blocks/BulletList/BulletList.pug
include ../Common.blocks/PayButton/PayButton.pug
include ../Common.blocks/Button/Button.pug
include ../Common.blocks/ButtonsBlock/-WrapperForSamples/ButtonsBlock-WrapperForSamples.pug
include ../Common.blocks/TitleBlock/-H6/TitleBlock-H6.pug
include ../Common.blocks/ButtonsBlock/ButtonsBlock.pug
include ../Common.blocks/Content/-WrapperRow/Content-WrapperRow.pug
include ../Common.blocks/Content/-WrappperRow/Content-WrappperRow.pug
include ../Common.blocks/Content/-LeftColumn/Content-LeftColumn.pug
include ../Common.blocks/Content/-RightColumn/Content-RightColumn.pug
include ../Common.blocks/Wrapper/-RightColumn/Wrapper-RightColumn.pug
include ../Common.blocks/Wrapper/-LeftColumn/Wrapper-LeftColumn.pug
include ../Common.blocks/RangeSlider/RangeSlider.pug
include ../Common.blocks/RangeSliderBlock/RangeSliderBlock.pug
include ../Common.blocks/List/-WrapperForDescription/List-WrapperForDescription.pug
include ../Common.blocks/RichCheckboxButtons/RichCheckboxButtons.pug
include ../Common.blocks/Wrapper/-FirstDropdownGuests/Wrapper-FirstDropdownGuests.pug
include ../Common.blocks/RateButton/RateButton.pug
include ../Common.blocks/LikeButton/LikeButton.pug
include ../Common.blocks/Toggle/Toggle.pug
include ../Common.blocks/RadioButtons/RadioButtons.pug
include ../Common.blocks/Wrapper/-CheckboxButtons/Wrapper-CheckboxButtons.pug
include ../Common.blocks/Content/-RightWrapper/Content-RightWrapper.pug
include ../Common.blocks/FigureDescriptionBlock/-Wrapper/FigureDescriptionBlock-Wrapper.pug
include ../Common.blocks/FigureDescriptionBlock/FigureDescriptionBlock.pug
include ../Common.blocks/FigureDescriptionBlock/-Figcaption/FigureDescriptionBlock-Figcaption.pug
include ../Common.blocks/FigcaptionDescriptionBlock/FigcaptionDescriptionBlock.pug

include ../Common.blocks/Wrapper/-DescriptionBlock/Wrapper-DescriptionBlock.pug
include ../Common.blocks/DescriptionBlock/DescriptionBlock.pug
include ../Common.blocks/TitleBlock/-Icon/TitleBlock-Icon.pug
include ../Common.blocks/ExpandableCheckboxList/-Header/ExpandableCheckboxList-Header.pug
include ../Common.blocks/TitleBlock/-H3/TitleBlock-H3.pug
include ../Common.blocks/TitleBlock/-H/TitleBlock-H.pug
include ../Common.blocks/ExpandableCheckboxList/-List/ExpandableCheckboxList-List.pug
include ../Common.blocks/List/-Item/List-Item.pug
include ../Common.blocks/Wrapper/-ExpandableCheckboxList/Wrapper-ExpandableCheckboxList.pug
include ../Common.blocks/ExpandableCheckboxList/ExpandableCheckboxList.pug
include ../Common.blocks/InputForButtonsAndInputs/InputForButtonsAndInputs.pug
include ../Common.blocks/ImageForButtonsAndInputs/ImageForButtonsAndInputs.pug
include ../Common.blocks/DescriptionForButtonsAndInputs/DescriptionForButtonsAndInputs.pug

include ../Common.blocks/TitleForButtonsAndInputs/TitleForButtonsAndInputs.pug
include ../Common.blocks/TitleBlock/TitleBlock.pug
include ../Common.blocks/List/List.pug
include ../Common.blocks/InputBlock/-Form/InputBlock-Form.pug
include ../Common.blocks/Wrapper/-FilterDateDropdown/Wrapper-FilterDateDropdown.pug
include ../Common.blocks/FilterDateDropdown/-Dropdown/FilterDateDropdown-Dropdown.pug
include ../Common.blocks/FilterDateDropdown/-Icon/FilterDateDropdown-Icon.pug
include ../Common.blocks/FilterDateDropdown/-Open/FilterDateDropdown-Open.pug
include ../Common.blocks/FilterDateDropdown/-InputHidden/FilterDateDropdown-InputHidden.pug
include ../Common.blocks/FilterDateDropdown/-AirDatepicker/FilterDateDropdown-AirDatepicker.pug
include ../Common.blocks/FilterDateDropdown/FilterDateDropdown.pug
include ../Common.blocks/DropdownDatepicker/-AirDatepicker/DropdownDatepicker-AirDatepicker.pug
include ../Common.blocks/DropdownDatepicker/-InputHidden/DropdownDatepicker-InputHidden.pug
include ../Common.blocks/DropdownDatepicker/-WrapperForDropdown/DropdownDatepicker-WrapperForDropdown.pug
include ../Common.blocks/DropdownDatepicker/-ResetButton/DropdownDatepicker-ResetButton.pug
include ../Common.blocks/DropdownDatepicker/-SelectDateOfDeparture/DropdownDatepicker-SelectDateOfDeparture.pug
include ../Common.blocks/DropdownDatepicker/-SelectArrivalDate/DropdownDatepicker-SelectArrivalDate.pug
include ../Common.blocks/DropdownDatepicker/-WrapperForDatepicker/DropdownDatepicker-WrapperForDatepicker.pug
include ../Common.blocks/DropdownDatepicker/-DateOfDeparture/DropdownDatepicker-DateOfDeparture.pug
include ../Common.blocks/DropdownDatepicker/-ArrivalDate/DropdownDatepicker-ArrivalDate.pug
include ../Common.blocks/DropdownDatepicker/-Open/DropdownDatepicker-Open.pug
include ../Common.blocks/DropdownDatepicker/-Icon/DropdownDatepicker-Icon.pug
include ../Common.blocks/DropdownDatepicker/DropdownDatepicker.pug
include ../Common.blocks/DropdownGuests/DropdownGuests.pug
include ../Common.blocks/Wrapper/-FacilitiesDropdown/Wrapper-FacilitiesDropdown.pug
include ../Common.blocks/Wrapper/-DateDropdown/Wrapper-DateDropdown.pug
include ../Common.blocks/Wrapper/-GuestsDropdown/Wrapper-GuestsDropdown.pug
include ../Common.blocks/Wrapper/-MasketField/Wrapper-MasketField.pug
include ../Common.blocks/DropdownFacilities/DropdownFacilities.pug
include ../Common.blocks/Wrapper/-FormElements/Wrapper-FormElements.pug
include ../Common.blocks/InputBlock/-Dropdown/InputBlock-Dropdown.pug
include ../Common.blocks/InputBlock/-WrapperForSelectWithArrow/InputBlock-WrapperForSelectWithArrow.pug
include ../Common.blocks/InputBlock/-SelectArrow/InputBlock-SelectArrow.pug
include ../Common.blocks/InputBlock/-Option/InputBlock-Option.pug
include ../Common.blocks/InputBlock/-Select/InputBlock-Select.pug
include ../Common.blocks/InputBlock/-Wrapper/InputBlock-Wrapper.pug
include ../Common.blocks/Content/-WrapperForFormElements/Content-WrapperForFormElements.pug
include ../Common.blocks/InputBlock/-FieldName/InputBlock-FieldName.pug
include ../Common.blocks/InputBlock/-FieldDescription/InputBlock-FieldDescription.pug
include ../Common.blocks/InputBlock/-InputField/InputBlock-InputField.pug
include ../Common.blocks/InputBlock/InputBlock.pug
include ../Common.blocks/ExampleText/-Wrapper/ExampleText-Wrapper.pug
include ../Common.blocks/ExampleText/-Text/ExampleText-Text.pug
include ../Common.blocks/ExampleText/-Header/ExampleText-Header.pug
include ../Common.blocks/ExampleText/ExampleText.pug
include ../Common.blocks/Wrapper/Wrapper.pug
include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimized' content='width')


    body
        +Container
            +Container-Layout
                +Logo
                +ColorsAndType
                    +ColorsAndType-Wrapper
                        +ColorsExamples
                            +ColorExample.ColorExample_darkened_100
                            +ColorsExamples-Description
                                +TitleInsideWidget Dark Shade 100%
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
                        +ColorsExamples
                            +ColorExample.ColorExample_darkened_75
                            +ColorsExamples-Description
                                +TitleInsideWidget Dark Shade 75%
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
                        +ColorsExamples
                            +ColorExample.ColorExample_darkened_50
                            +ColorsExamples-Description
                                +TitleInsideWidget Dark Shade 50%
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
                        +ColorsExamples
                            +ColorExample.ColorExample_darkened_25
                            +ColorsExamples-Description
                                +TitleInsideWidget Dark Shade 25%
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
                        +ColorsExamples
                            +ColorExample.ColorExample_darkened_05
                            +ColorsExamples-Description
                                +TitleInsideWidget Dark Shade 5%
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
                        +ColorsExamples
                            +ColorExample.ColorExample_purple
                            +ColorsExamples-Description
                                +TitleInsideWidget Purple
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #BC9CFF
                        +ColorsExamples
                            +ColorExample.ColorExample_green
                            +ColorsExamples-Description
                                +TitleInsideWidget Green
                                +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #6FCF97
                    +ColorsAndType-Wrapper
                        +ExampleText
                            +BodyText.BodyText_darkened_25.ExampleText-Header.ExampleText-Header_fontSize_h1 H1
                            +WidgetTitle.ExampleText-Text This one is the sub-section or widget title
                        +ExampleText
                            +BodyText.BodyText_darkened_25.ExampleText-Header.ExampleText-Header_fontSize_h2 H2
                            +TitleInsideWidget.ExampleText-Text Next one is the item title inside widgets
                        +ExampleText
                            +LabelText.LabelText_darkened_25.LabelText_text_regular.ExampleText-Header H3
                            +LabelText.ExampleText-Text This is a label or CTA text
                        +ExampleText.ExampleText_direction_top
                            +BodyText.BodyText_darkened_25.ExampleText-Header Body
                            +BodyText.ExampleText-Text.ExampleText-Text_text_wrapping This is the body text which is used for most of the design, like paragraphs, lists, etc.
            //
            // End of Colors&Type layout
            //
            +Container-Layout.Container-Layout_size_formElementsLayout
                +Logo
                +FormElements
                    +FormElements-Wrapper
                        +FormElements-CorrectiveWrapper
                            +FieldOfSignIn.FormElements-TxField
                                +FieldOfSignIn-Header
                                    +LabelText text field
                                    +LabelText.LabelText_darkened_50.LabelText_text_regular default
                                +InputField(type='text', placeholder='Email')
                            +FieldOfSignIn.FormElements-TxField.FormElements-TxField_indentB_20px
                                +FieldOfSignIn-Header
                                    +LabelText text field
                                    +LabelText.LabelText_darkened_50.LabelText_text_regular hover / focus
                                +InputField(type='text', placeholder='This is pretty awesome')
                            +FieldOfSignIn.FormElements-DropdownGuests
                                +FieldOfSignIn-Header
                                    +LabelText Dropdown
                                    +LabelText.LabelText_darkened_50.LabelText_text_regular default
                                +DropdownGuests(multiple='multiple', id="DropdownGuests", name='DropdownGuests', size='3' data-option-value=['adults', 'children', 'babies'] data-option-content=['взрослые', 'дети', 'младенцы'])
                            +FieldOfSignIn.FormElements-TxField.FormElements-TxField_indentB_40px
                                +FieldOfSignIn-Header
                                    +LabelText masked text field
                                    +LabelText.LabelText_darkened_50.LabelText_text_regular default
                                +InputField(type='text' data-type="date" placeholder='ДД.ММ.ГГГГ')
                            +DropdownDatepicker.FormElements-Datepicker
                                +DropdownDatepicker-WrapperForDropdown
                                    +LabelText.DropdownDatepicker-Header date dropdown
                                    +DropdownDatepicker-ArrivalDate
                                        +DropdownDatepicker-InputHidden(type="hidden")
                                        +DropdownDatepicker-Open ДД.ММ.ГГГГ
                                        +DropdownDatepicker-Icon
                                            i.material-icons expand_more
                                    +DropdownDatepicker-AirDatepicker
                                +DropdownDatepicker-WrapperForDropdown
                                    +LabelText.DropdownDatepicker-Header date dropdown
                                    +DropdownDatepicker-DateOfDeparture
                                        +DropdownDatepicker-InputHidden(type="hidden")
                                        +DropdownDatepicker-Open 19.08.2019
                                        +DropdownDatepicker-Icon
                                            i.material-icons expand_more
                            +FieldOfSignIn.FormElements-FilterDateDropdown
                                +FieldOfSignIn-Header
                                    +LabelText filter date dropdown
                                +FilterDateDropdown
                                    +FilterDateDropdown-Dropdown
                                        +FilterDateDropdown-InputHidden(type='hidden')
                                        +FilterDateDropdown-Open 19 авг - 23 авг
                                        +FilterDateDropdown-Icon
                                            i.material-icons expand_more
                                    +FilterDateDropdown-AirDatepicker()
                        +FieldOfSignIn.FormElements-SubscrTxField
                            +FieldOfSignIn-Header
                                +LabelText subscription text field
                            +SubscrTxField.FormElSubscrTxField
                                +SubscrTxField-InputField(type='text' placeholder='Email')
                                +SubscrTxField-Icon('arrow_forward')
                        +FieldOfSignIn.FieldOfSignIn_widthFacilities.FormElements-DropdownFacilities
                            +FieldOfSignIn-Header
                                +LabelText dropdown
                                +LabelText.LabelText_darkened_50.LabelText_text_regular default
                            +DropdownFacilities(multiple='multiple', id="dropdownFacilities", name='dropdownFacilities', size='3' data-option-value=['bedrooms', 'beds', 'bathrooms'] data-option-content=['спальни', 'кровати', 'ванные комнаты'] data-option-declension=[['спален', 'спальня', 'спальни'],['кроватей', 'кровать', 'кровати'],['ванных комнат', 'ванная комната', 'ванные комнаты']])
                        +FieldOfSignIn.FieldOfSignIn_widthFacilities.FormElements-Dropdow_expanded
                            +FieldOfSignIn-Header
                                +LabelText dropdown
                                +LabelText.LabelText_darkened_50.LabelText_text_regular expanded
                            +DropdownFacilities(multiple='multiple', id="dropdownFacilitiesExpanded", name='dropdownFacilities', size='3' data-option-value=['bedrooms', 'beds', 'bathrooms'] data-option-content=['спальни', 'кровати', 'ванные комнаты'] data-option-declension=[['спален', 'спальня', 'спальни'], ['кроватей', 'кровать', 'кровати'], ['ванных комнат', 'ванная комната', 'ванные комнаты']])

                        +Wrapper-ExpandableCheckboxList()
                            +ExpandableCheckboxList()
                                +TitleBlock.ExpandableCheckboxList-Header()
                                    +TitleBlock-H3() expandable checkbox list
                                    +TitleBlock-Icon()
                                        i.material-icons expand_more
                                +List.ExpandableCheckboxList-List()
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Завтрак
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Письменный стол
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Стул для кормления
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Кроватка
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Шампунь
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Шампунь
                        +Wrapper-ExpandableCheckboxListOpen()
                            +ExpandableCheckboxList()
                                +TitleBlock.ExpandableCheckboxList-Header()
                                    +TitleBlock-H3() expandable checkbox list
                                    +TitleBlock-Icon()
                                        i.material-icons expand_more
                                +List.ExpandableCheckboxList-List(style="display: block;")
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                        +DescriptionForButtonsAndInputs() Завтрак
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                        +DescriptionForButtonsAndInputs() Письменный стол
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                        +DescriptionForButtonsAndInputs() Стул для кормления
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                        +DescriptionForButtonsAndInputs() Кроватка
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Шампунь
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Телевизор
                                    +List-Item()
                                        +InputForButtonsAndInputs()
                                            +InputForButtonsAndInputs-Checkbox(type="checkbox" )
                                        +DescriptionForButtonsAndInputs() Шампунь
                        +Wrapper-DescriptionBlock()
                            +FigureDescriptionBlock()
                                +FigureDescriptionBlock-Wrapper()
                                    +ImageForButtonsAndInputs()
                                        i.material-icons insert_emoticon
                                    +FigureDescriptionBlock-Figcaption()
                                        +FigureDescriptionBlock-Header()
                                            +TitleForButtonsAndInputs() Комфорт
                                        +DescriptionForButtonsAndInputs() Шумопоглощающие стены
                                +FigureDescriptionBlock-Hr()
                                //div.HR.FigureDescriptionBlock-Separator
                        +Wrapper-DescriptionBlockFacilities()
                            +FigureDescriptionBlock()
                                +FigureDescriptionBlock-Wrapper()
                                    +ImageForButtonsAndInputs()
                                        i.material-icons location_city
                                    +FigureDescriptionBlock-Figcaption()
                                        +FigureDescriptionBlock-Header()
                                            +TitleForButtonsAndInputs() Удобство
                                        +DescriptionForButtonsAndInputs() Окно в каждой из спален
                                +FigureDescriptionBlock-Hr()
                    +FormElements-Wrapper.Content-RightWrapper()
                        +Wrapper.Content-WrapperRow()
                            +Wrapper()
                                +CheckboxList.CheckboxList_BottomIndent_30px()
                                    +TitleBlock.CheckboxList-Header()
                                        +TitleBlock-H3.TitleBlock-H3_withoutMarginTop_4px.TitleBlock-H3_withoutMarginBottom_10px() Checkbox Buttons
                                    +List()
                                        +List-Item()
                                            +InputForButtonsAndInputs()
                                                +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                            +DescriptionForButtonsAndInputs() Можно курить
                                        +List-Item()
                                            +InputForButtonsAndInputs()
                                                +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                            +DescriptionForButtonsAndInputs() Можно с питомцами
                                        +List-Item()
                                            +InputForButtonsAndInputs()
                                                +InputForButtonsAndInputs-Checkbox(type="checkbox" checked class="checkArrow")
                                            +DescriptionForButtonsAndInputs() Можно пригласить гостей (до 10 человек)
                                +Wrapper-RadioButtons()
                                    +TitleBlock.CheckboxList-Header()
                                        +TitleBlock-H3() Radio Buttons
                                    +RadioButtons()
                                        +RadioButtons-Wrapper()
                                            +RadioButtons-RadioButton(type="radio" name="gender" value="men" checked class="RadioButtons-RadioButton_active")
                                            +RadioButtons-Label() Мужчина
                                        +RadioButtons-Wrapper()
                                            +RadioButtons-RadioButton(type="radio" name="gender" value="women")
                                            +RadioButtons-Label() Женщина
                                +Wrapper-Toggle()
                                    +TitleBlock.CheckboxList-Header()
                                        +TitleBlock-H3(style="margin-bottom: 16px") Toggle
                                    +Wrapper-ToggleWrapper()
                                        +ToggleButton()
                                            +ToggleButton-Button(type="checkbox" id="toggleOn")
                                            +DescriptionForButtonsAndInputs.ToggleButton-Label() Получать спецпредложения
                                    +ToggleButton()
                                        +ToggleButton-Button(type="checkbox")
                                        +DescriptionForButtonsAndInputs.ToggleButton-Label() Получать спецпредложения
                                +Wrapper-LikeButton()
                                    +TitleBlock.CheckboxList-Header()
                                        +TitleBlock-H3(style="margin-bottom: 16px") like button
                                    +Wrapper-LikeButtonWrapper()
                                        +Wrapper-LikeButtonWrapperFirst()
                                            +LikeButton()
                                                +LikeButton-GradientBorder()
                                                    +LikeButton-Label()
                                                        +LikeButton-Button(type="hidden" name="likes")
                                                        +LikeButton-Icon() favorite_border
                                                        +LikeButton-NumberLikes() 2
                                        +LikeButton()
                                            +LikeButton-GradientBorder.LikeButton-GradientBorder_active()
                                                +LikeButton-Label()
                                                    +LikeButton-Button(type="hidden" name="likes")
                                                    +LikeButton-Icon.LikeButton-Icon_active() favorite
                                                    +LikeButton-NumberLikes.LikeButton-NumberLikes_active() 12
                                +Wrapper-RateButton()
                                    +TitleBlock.CheckboxList-Header()
                                        +TitleBlock-H3(style="margin-bottom: 16px") rate button
                                    +Wrapper-RateButtonWrapper()
                                        +Wrapper-RateButtonSeparator()
                                            +RateButton()
                                                +RateButton-InputHidden(type="hidden" name="rating" value="0")
                                                each val, index in ['1', '2', '3', '4', '5']
                                                    +RateButton-Star(data-id=val)
                                                        +RateButton-StarIcon(data-id=val) star_border
                                        +RateButton()
                                            +RateButton-InputHidden(type="hidden" name="rating" value="0")
                                            each val, index in ['1', '2', '3', '4', '5']
                                                +RateButton-Star(data-id=val)
                                                    +RateButton-StarIcon(data-id=val) star_border
                                +Wrapper-SecondDropdownGuests()
                                    +InputBlock()(class='')
                                        +InputBlock-Wrapper
                                            +InputBlock-FieldName('dropdown')
                                            +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
                                        +InputBlock-Form()
                                            //Select.DropdownGuests(multiple='multiple', id="DropdownGuests2", name='DropdownGuests', size='3')
                                                +DropdownGuests-Option('взрослые')(value='adults')
                                                +DropdownGuests-Option('дети')(value='children')
                                                +DropdownGuests-Option('младенцы')(value='babies')
                                +RichCheckboxButtons()
                                    +TitleBlock.RichCheckboxButtons-Header()
                                        +TitleBlock-H3(style="margin-bottom: 16px") rich checkbox buttons
                                    +List
                                        +List-Item.RichCheckboxButtons-Item()
                                            +InputForButtonsAndInputs()
                                                +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                            +List-WrapperForDescription()
                                                +TitleForButtonsAndInputs.RichCheckboxButtons-Title() Широкий коридор
                                                +DescriptionForButtonsAndInputs.RichCheckboxButtons-Description() Ширина коридоров в номере не менее 91 см.
                                        +List-Item.RichCheckboxButtons-Item()
                                            +InputForButtonsAndInputs()
                                                +InputForButtonsAndInputs-Checkbox(type="checkbox")
                                            +List-WrapperForDescription()
                                                +TitleForButtonsAndInputs.RichCheckboxButtons-Title() Помощник для инвалидов
                                                +DescriptionForButtonsAndInputs.RichCheckboxButtons-Description() На 1 этаже вас встретит специалист и проводит до номера.
                            +Wrapper.Content-RightColumn()
                                //+RangeSliderBlock()
                                +Wrapper-RangeSlider()
                                    +RangeSlider()
                                        +RangeSlider-Wrapper()
                                            +RangeSlider-Title()
                                                +TitleBlock()
                                                    +TitleBlock-H3(style="margin-bottom: 16px; margin-top: 0px;") Range Slider
                                            +RangeSlider-Range(type="text" data-amount="" readonly )
                                        +RangeSlider-Slider()
                                //
                                +Wrapper-Buttons()
                                    +ButtonsBlock()
                                        +TitleBlock()
                                            +TitleBlock-H3(style="margin-bottom: 15px; margin-top: 0px;") buttons
                                        +ButtonsBlock-WrapperForSamples()
                                            +ButtonsBlock-WrapperForLeftButton()
                                                +Button()
                                                    +Button-Btn() click me
                                            +Button()
                                                +Button-Btn.Button-Btn_active() click me
                                        +ButtonsBlock-WrapperForSamples()
                                            +ButtonsBlock-WrapperForLeftButton()
                                                +Button()
                                                    +Button-Content()
                                                        +GradientButton()
                                                            +GradientButton-Btn() click me
                                            +Button()
                                                +Button-Content.Button-Content_active()
                                                    +GradientButton()
                                                        +GradientButton-Btn() click me
                                        +ButtonsBlock-WrapperForSamples()
                                            +ButtonsBlock-WrapperForLeftButton()
                                                +Button()
                                                    +Button-GhostBtn() click me
                                            +Button()
                                                +Button-GhostBtn.Button-GhostBtn_active() click me
                                        +ButtonsBlock-WrapperForSamples()
                                            +PayButton()
                                                +PayButton-Text() перейти к оплате
                                                +PayButton-Arrow() arrow_forward
                                //+PaginationBlock()
                                +Wrapper-Pagination()
                                    +Wrapper-PaginationTitle()
                                        +TitleBlock.ExpandableCheckboxList-Header()
                                            +TitleBlock-H3() pagination
                                    +Pagination()
                                        +Pagination-List()
                                            +Pagination-Page(style="display: none;")
                                                +Pagination-PrevNextPage('#', 'arrow_back')
                                            +Pagination-Page()
                                                +Pagination-LinkPage('#')(class="Pagination-LinkPage_active") 1
                                            +Pagination-Page()
                                                +Pagination-LinkPage('#') 2
                                            +Pagination-Page()
                                                +Pagination-LinkPage('#') 3
                                            +Pagination-Page()
                                                +Pagination-Dots() ...
                                            +Pagination-Page()
                                                +Pagination-LinkPage('#') 15
                                            +Pagination-Page()
                                                +Pagination-PrevNextPage('#', 'arrow_forward')
                                        +Pagination-AmountObjsOnPage() 1 – 12 из 100+ вариантов аренды
                                +Wrapper-ThirdDropdownGuests()
                                    +InputBlock()
                                        +InputBlock-Wrapper
                                            +InputBlock-FieldName('dropdown')
                                            +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
                                        +InputBlock-Form()
                                            //Select.DropdownGuests(multiple='multiple', id="DropdownGuests3", name='DropdownGuests', size='3')
                                                +DropdownGuests-Option('взрослые')(value='adults')
                                                +DropdownGuests-Option('дети')(value='children')
                                                +DropdownGuests-Option('младенцы')(value='babies')
                                +BulletList()
                                    +TitleBlock.ExpandableCheckboxList-Header()
                                        +TitleBlock-H3() Bullet List
                                    +List
                                        +List-Item()
                                            +DescriptionForButtonsAndInputs() Нельзя с питомцами
                                        +List-Item()
                                            +DescriptionForButtonsAndInputs() Без вечеринок и мероприятий
                                        +List-Item()
                                            +DescriptionForButtonsAndInputs() Время прибытия — после 13:00, а выезд до 12:00
                        +Wrapper
                            +Wrapper-Footer()
                                +CommentBlock()
                                    +FigureDescriptionBlock()
                                        +FigureDescriptionBlock-Wrapper()
                                            +ImageForButtonsAndInputs()
                                                i.material-icons insert_emoticon
                                            +FigureDescriptionBlock-Figcaption()
                                                +TitleForButtonsAndInputs() Мурад Сарафанов
                                                +DescriptionForButtonsAndInputs() 5 дней назад
                                    +CommentBlock-WrapperLikeAndDescription()
                                        +CommentBlock-WrapperLike()
                                            +LikeButton()
                                        +CommentBlock-WrapperDescription()
                                            +DescriptionForButtonsAndInputs() Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.


//+Wrapper-CheckboxButtons
// миксин для одинаковых шрифтов
// один блок для всех describe
// один блок для всех заголовков
// один блок для bullet list
// каждый list разный потому что задает разное размещение блоков
// js только в блоке
// коммент
// провырить форм тег и як использууться на макеты блоки
// рефакторинг

