
include ../Common.blocks/DropdownGuests/-Option/DropdownGuests-Option.pug
include ../Common.blocks/DropdownGuests/DropdownGuests.pug
include ../Common.blocks/Wrapper/-FacilitiesDropdown/Wrapper-FacilitiesDropdown.pug
include ../Common.blocks/Wrapper/-DateDropdown/Wrapper-DateDropdown.pug
include ../Common.blocks/Wrapper/-GuestsDropdown/Wrapper-GuestsDropdown.pug
include ../Common.blocks/Wrapper/-MasketField/Wrapper-MasketField.pug
include ../Common.blocks/Dropdown/-Option/Dropdown-Option.pug
include ../Common.blocks/Dropdown/Dropdown.pug
include ../Common.blocks/Wrapper/-FormElements/Wrapper-FormElements.pug
include ../Common.blocks/InputBlock/-Dropdown/InputBlock-Dropdown.pug
include ../Common.blocks/InputBlock/-WrapperForSelectWithArrow/InputBlock-WrapperForSelectWithArrow.pug
include ../Common.blocks/InputBlock/-SelectArrow/InputBlock-SelectArrow.pug
include ../Common.blocks/InputBlock/-Option/InputBlock-Option.pug
include ../Common.blocks/InputBlock/-Select/InputBlock-Select.pug
include ../Common.blocks/InputBlock/-Wrapper/InputBlock-Wrapper.pug
include ../Common.blocks/Content/-WrapperForFormElements/Content-WrapperForFormElements.pug
include ../Common.blocks/InputBlock/-FieldName/InputBlock-FieldName.pug
include ../Common.blocks/InputBlock/-FieldDescription/InputBlock-FieldDescription.pug
include ../Common.blocks/InputBlock/-InputField/InputBlock-InputField.pug
include ../Common.blocks/InputBlock/InputBlock.pug
include ../Common.blocks/ExampleText/-Wrapper/ExampleText-Wrapper.pug
include ../Common.blocks/ExampleText/-Text/ExampleText-Text.pug
include ../Common.blocks/ExampleText/-Header/ExampleText-Header.pug
include ../Common.blocks/ExampleText/ExampleText.pug
include ../Common.blocks/FigureHtml5/-FigcaptionWrapper/FigureHtml5-FigcaptionWrapper.pug
include ../Common.blocks/FigureHtml5/-Figcaption/FigureHtml5-Figcaption.pug
include ../Common.blocks/FigureHtml5/-Image/FigureHtml5-Image.pug
include ../Common.blocks/FigureHtml5/FigureHtml5.pug
include ../Common.blocks/Wrapper/Wrapper.pug
include ../Common.blocks/ColorSwatch/ColorSwatch.pug
include ../Common.blocks/Content/-Wrapper/Content-Wrapper.pug
include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/LogoWrapper/LogoWrapper.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimazed' content='width')


    body
        +Container('', 'Container_BgColor_White Container_MarBot_50px')
            +LogoWrapper()
                +Logo()
            +Content('', 'Content-Wrapper')
                +Wrapper()
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Dsh100')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 100%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Dsh75')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 75%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Dsh50')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 50%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Dsh25')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Dark Shade 25%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Dsh05')
                        +FigureHtml5-FigcaptionWrapper('', 'FigureHtml5_PdTop_correct')
                            +FigureHtml5-Figcaption('Dark Shade 5%')
                            +FigureHtml5-Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Purple')
                        +FigureHtml5-FigcaptionWrapper('', 'FigureHtml5_PdTop_correct')
                            +FigureHtml5-Figcaption('Purple')
                            +FigureHtml5-Figcaption('#BC9CFF', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5-Image('', 'FigureHtml5_Bg_Green')
                        +FigureHtml5-FigcaptionWrapper()
                            +FigureHtml5-Figcaption('Green')
                            +FigureHtml5-Figcaption('#6FCF97', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                +Wrapper()
                    +ExampleText()
                        +ExampleText-Header('H1', 'ExampleText_FontSize_24px ExampleText_LineH_29')
                        +ExampleText-Text('This one is the sub-section or widget title', 'ExampleText_FontStyle_H1')
                    +ExampleText()
                        +ExampleText-Header('H2', 'ExampleText_FontSize_19px ExampleText_LineH_23')
                        +ExampleText-Text('Next one is the item title inside widgets', 'ExampleText_FontStyle_H2')
                    +ExampleText()
                        +ExampleText-Header('H3', 'ExampleText_FontSize_12px ExampleText_TextTransf_Upper ExampleText_LineH_15')
                        +ExampleText-Text('This is a label or CTA text', 'ExampleText_FontStyle_H3 ExampleText_PdBot_Correct')
                    +ExampleText()
                        +ExampleText-Header('Body', 'ExampleText_FontSize_14px ExampleText_LineH_24')
                        +ExampleText-Text('This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'ExampleText_FontStyle_Body ExampleText_PdR_34 ExampleText_Width_316px')
        +Container('', 'Container_BgColor_White Container_MarBot_50px Container_Height_1853px')
            +LogoWrapper()
                +Logo()
            +Content()
                +Content-WrapperForFormElements()
                    +Wrapper()
                        //- +InputBlock()(class='Wrapper-GuestsDropdown')
                        //-     +InputBlock-Wrapper
                        //-         +InputBlock-FieldName('dropdown')
                        //-         +InputBlock-FieldDescription('default')(class='InputBlock_PdTop_3px')
                        //-     Select.DropdownGuests(multiple='multiple', id="DropdownGuests2", name='DropdownGuests', size='3')
                        //-         +DropdownGuests-Option('большие')(value='moreThanAdults')
                        //-         +DropdownGuests-Option('маленькие')(value='moreThanChildren')
                        //-         +DropdownGuests-Option('очсень маленькие')(value='moreThanBabies')
                        +InputBlock()(class='Wrapper-FormElements')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('text field')
                                +InputBlock-FieldDescription('default')
                            +InputBlock-InputField()(class='InputBlock_Color_Dark25', type='text', placeholder='Email')
                        +InputBlock()(class='Wrapper-FormElements')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('text field')
                                +InputBlock-FieldDescription('HOVER / FOCUS')(class='InputBlock_PdTop_3px')
                            +InputBlock-InputField()(class='InputBlock_Color_Dark75', type='text', placeholder='This is pretty awesome')
                        +InputBlock()(class='Wrapper-GuestsDropdown')
                            +InputBlock-Wrapper
                                +InputBlock-FieldName('dropdown')
                                +InputBlock-FieldDescription('default')(class='InputBlock_PdTop_3px')
                            Select.DropdownGuests(multiple='multiple', id="DropdownGuests", name='DropdownGuests', size='3')
                                +DropdownGuests-Option('взрослые')(value='adults')
                                +DropdownGuests-Option('дети')(value='children')
                                +DropdownGuests-Option('младенцы')(value='babies')
                            //- +InputBlock-WrapperForSelectWithArrow()
                            //-     +InputBlock-SelectArrow('expand_more')
                            //-     Select.InputBlock-InputField.InputBlock_Appearan_none.InputBlock_PdTop_11px.InputBlock_LetterSpacing_0px.InputBlock_Color_Dark75
                            //-         +InputBlock-Option('Сколько гостей', 'selected')
                            //-         +InputBlock-Option()
                            //-         +InputBlock-Option()               
                        +InputBlock()(class='Wrapper-MasketField')
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('masked text field')
                                +InputBlock-FieldDescription('default')(class='InputBlock_PdTop_2px')
                            +InputBlock-InputField()(class='InputBlock_Color_Dark75', type='text', placeholder='ДД.ММ.ГГГГ')                        
                        +Wrapper-DateDropdown()
                            +InputBlock()
                                +InputBlock-Wrapper()
                                    +InputBlock-FieldName('date dropdown')
                                +InputBlock-WrapperForSelectWithArrow()
                                    +InputBlock-SelectArrow('expand_more')
                                    Select.InputBlock-InputField.InputBlock_Appearan_none.InputBlock_LetterSpacing_0px.InputBlock_Color_Dark75.InputBlock_Width_150px.InputBlock_PdTop_11px
                                        +InputBlock-Option('ДД.ММ.ГГГГ', 'selected')
                                        +InputBlock-Option()
                                        +InputBlock-Option()  
                            +InputBlock()
                                +InputBlock-Wrapper()
                                    +InputBlock-FieldName('date dropdown')
                                +InputBlock-WrapperForSelectWithArrow()
                                    +InputBlock-SelectArrow('expand_more')
                                    Select.InputBlock-InputField.InputBlock_Appearan_none.InputBlock_MrBot_19px.InputBlock_Color_Dark75.InputBlock_Width_150px.InputBlock_PdTop_11px.InputBlock_MrBot_37px
                                        +InputBlock-Option('19.08.2019', 'selected')
                                        +InputBlock-Option()
                                        +InputBlock-Option()
                        +InputBlock()
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('filter rate dropdown')
                            +InputBlock-WrapperForSelectWithArrow()
                                +InputBlock-SelectArrow('expand_more')
                                Select.InputBlock-InputField.InputBlock_Width_266px.InputBlock_Appearan_none.InputBlock_PdTop_11px.InputBlock_LetterSpacing_0px.InputBlock_MrBot_39px.InputBlock_Color_Dark75
                                    +InputBlock-Option('19 авг - 23 авг', 'selected')
                                    +InputBlock-Option()
                                    +InputBlock-Option() 
                        +InputBlock()
                            +InputBlock-Wrapper()
                                +InputBlock-FieldName('subscription text field')
                            +InputBlock-WrapperForSelectWithArrow()
                                +InputBlock-SelectArrow('arrow_forward')
                                Select.InputBlock-InputField.InputBlock_Width_266px.InputBlock_Appearan_none.InputBlock_PdTop_11px.InputBlock_LetterSpacing_0px.InputBlock_MrBot_97px.InputBlock_Color_Dark75
                                    +InputBlock-Option('Email', 'selected')
                                    +InputBlock-Option()
                                    +InputBlock-Option()
                        +InputBlock()(class='Wrapper-FacilitiesDropdown')           
                            +InputBlock-Wrapper(class='InputBlock_Width_265px')
                                +InputBlock-FieldName('dropdown')
                                +InputBlock-FieldDescription('default')(class='InputBlock_PdTop_3px')
                            select.Dropdown(multiple='multiple', id="dropdownFacilities", name='dropdownFacilities', size='3')
                                +Dropdown-Option('спальни', 'selected')(value='bedrooms')
                                +Dropdown-Option('кровати', 'selected')(value='beds')                                
                                +Dropdown-Option('комнаты')(value='bathrooms')
                        +InputBlock()(class='Wrapper-FacilitiesDropdown')           
                            +InputBlock-Wrapper(class='InputBlock_Width_265px')
                                +InputBlock-FieldName('dropdown')
                                +InputBlock-FieldDescription('expanded')(class='InputBlock_PdTop_3px')
                            select.Dropdown(multiple='multiple', id="dropdownFacilitiesExpanded", name='dropdownFacilities', size='3')
                                +Dropdown-Option('спальни', 'selected')(value='bedrooms')
                                +Dropdown-Option('кровати', 'selected')(value='beds')                                
                                +Dropdown-Option('ванные комнаты')(value='bathrooms')                                               
                    +Wrapper()
                        +Wrapper()
                            +Wrapper()
                            +Wrapper()
                        +Wrapper()