include ../Common.blocks/uikit-logo/uikit-logo.pug
include ../Common.blocks/container/container.pug


doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimized' content='width')


    body
        +container

            // Colors & Type
            +container__layout({theme: 'colors-fonts'})

                +container__layout-logo
                    +uikit-logo


+container__layout-examples