//include ../Common.blocks/inner-title/inner-title.pug
include ../Common.blocks/color-example/color-example.pug
include ../Common.blocks/uikit-logo/uikit-logo.pug
include ../Common.blocks/container/container.pug


doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimized' content='width')


    body
        +container

            // Colors & Type
            +container__layout({theme: 'colors-fonts'})

                +container__layout-logo
                    +uikit-logo

                +container__layout-examples

                    +container__layout-colors

                        -let colorsExampleArr = [['dark-100','Dark Shade 100%', '#1F2041'],
                        -                        ['dark-75', 'Dark Shade 75%', '#1F2041'],
                        -                        ['dark-50', 'Dark Shade 50%', '#1F2041'],
                        -                        ['dark-25', 'Dark Shade 25%', '#1F2041'],
                        -                        ['dark-05', 'Dark Shade 5%', '#1F2041'],
                        -                        ['purple', 'Purple', '#BC9CFF'],
                        -                        ['green', 'Green', '#6FCF97']];
                        each val, key in colorsExampleArr
                            +color-example({font: 'bold', text: 'green'},{theme: val[0], colorName: val[1], hexColor: val[2]})


                    +container__layout-fonts
