include ../Common.blocks/DropdownGuests/__Option/DropdownGuests__Option.pug
include ../Common.blocks/DropdownGuests/DropdownGuests.pug
include ../Common.blocks/Wrapper/__FacilitiesDropdown/Wrapper__FacilitiesDropdown.pug
include ../Common.blocks/Wrapper/__DateDropdown/Wrapper__DateDropdown.pug
include ../Common.blocks/Wrapper/__GuestsDropdown/Wrapper__GuestsDropdown.pug
include ../Common.blocks/Wrapper/__MasketField/Wrapper__MasketField.pug
include ../Common.blocks/Dropdown/__Option/Dropdown__Option.pug
include ../Common.blocks/Dropdown/Dropdown.pug
include ../Common.blocks/Wrapper/__FormElements/Wrapper__FormElements.pug
include ../Common.blocks/InputBlock/__Dropdown/InputBlock__Dropdown.pug
include ../Common.blocks/InputBlock/__WrapperForSelectWithArrow/InputBlock__WrapperForSelectWithArrow.pug
include ../Common.blocks/InputBlock/__SelectArrow/InputBlock__SelectArrow.pug
include ../Common.blocks/InputBlock/__Option/InputBlock__Option.pug
include ../Common.blocks/InputBlock/__Select/InputBlock__Select.pug
include ../Common.blocks/InputBlock/__Wrapper/InputBlock__Wrapper.pug
include ../Common.blocks/Content/__WrapperForFormElements/Content__WrapperForFormElements.pug
include ../Common.blocks/InputBlock/__FieldName/InputBlock__FieldName.pug
include ../Common.blocks/InputBlock/__FieldDescription/InputBlock__FieldDescription.pug
include ../Common.blocks/InputBlock/__InputField/InputBlock__InputField.pug
include ../Common.blocks/InputBlock/InputBlock.pug
include ../Common.blocks/ExampleText/__Wrapper/ExampleText__Wrapper.pug
include ../Common.blocks/ExampleText/__Text/ExampleText__Text.pug
include ../Common.blocks/ExampleText/__Header/ExampleText__Header.pug
include ../Common.blocks/ExampleText/ExampleText.pug
include ../Common.blocks/FigureHtml5/__FigcaptionWrapper/FigureHtml5__FigcaptionWrapper.pug
include ../Common.blocks/FigureHtml5/__Figcaption/FigureHtml5__Figcaption.pug
include ../Common.blocks/FigureHtml5/__Image/FigureHtml5__Image.pug
include ../Common.blocks/FigureHtml5/FigureHtml5.pug
include ../Common.blocks/Wrapper/Wrapper.pug
include ../Common.blocks/ColorSwatch/ColorSwatch.pug
include ../Common.blocks/Content/__Wrapper/Content__Wrapper.pug
include ../Common.blocks/Logo/Logo.pug
include ../Common.blocks/Content/Content.pug
include ../Common.blocks/LogoWrapper/LogoWrapper.pug
include ../Common.blocks/Container/Container.pug

doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimazed' content='width')


    body
        +Container('', 'Container_BgColor_White Container_MarBot_50px')
            +LogoWrapper()
                +Logo()
            +Content('', 'Content__Wrapper')
                +Wrapper()
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Dsh100')
                        +FigureHtml5__FigcaptionWrapper()
                            +FigureHtml5__Figcaption('Dark Shade 100%')
                            +FigureHtml5__Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Dsh75')
                        +FigureHtml5__FigcaptionWrapper()
                            +FigureHtml5__Figcaption('Dark Shade 75%')
                            +FigureHtml5__Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Dsh50')
                        +FigureHtml5__FigcaptionWrapper()
                            +FigureHtml5__Figcaption('Dark Shade 50%')
                            +FigureHtml5__Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Dsh25')
                        +FigureHtml5__FigcaptionWrapper()
                            +FigureHtml5__Figcaption('Dark Shade 25%')
                            +FigureHtml5__Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Dsh05')
                        +FigureHtml5__FigcaptionWrapper('', 'FigureHtml5_PdTop_correct')
                            +FigureHtml5__Figcaption('Dark Shade 5%')
                            +FigureHtml5__Figcaption('#1F2041', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Purple')
                        +FigureHtml5__FigcaptionWrapper('', 'FigureHtml5_PdTop_correct')
                            +FigureHtml5__Figcaption('Purple')
                            +FigureHtml5__Figcaption('#BC9CFF', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                    +FigureHtml5('', 'FigureHtml5_PdB_20px')
                        +FigureHtml5__Image('', 'FigureHtml5_Bg_Green')
                        +FigureHtml5__FigcaptionWrapper()
                            +FigureHtml5__Figcaption('Green')
                            +FigureHtml5__Figcaption('#6FCF97', 'FigureHtml5_Fw_400 FigureHtml5_Ff_QuicksandRegular')
                +Wrapper()
                    +ExampleText()
                        +ExampleText__Header('H1', 'ExampleText_FontSize_24px ExampleText_LineH_29')
                        +ExampleText__Text('This one is the sub-section or widget title', 'ExampleText_FontStyle_H1')
                    +ExampleText()
                        +ExampleText__Header('H2', 'ExampleText_FontSize_19px ExampleText_LineH_23')
                        +ExampleText__Text('Next one is the item title inside widgets', 'ExampleText_FontStyle_H2')
                    +ExampleText()
                        +ExampleText__Header('H3', 'ExampleText_FontSize_12px ExampleText_TextTransf_Upper ExampleText_LineH_15')
                        +ExampleText__Text('This is a label or CTA text', 'ExampleText_FontStyle_H3 ExampleText_PdBot_Correct')
                    +ExampleText()
                        +ExampleText__Header('Body', 'ExampleText_FontSize_14px ExampleText_LineH_24')
                        +ExampleText__Text('This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'ExampleText_FontStyle_Body ExampleText_PdR_34 ExampleText_Width_316px')
        +Container('', 'Container_BgColor_White Container_MarBot_50px Container_Height_1853px')
            +LogoWrapper()
                +Logo()
            +Content()
                +Content__WrapperForFormElements()
                    +Wrapper()
                        +InputBlock()(class='Wrapper__GuestsDropdown')
                            +InputBlock__Wrapper
                                +InputBlock__FieldName('dropdown')
                                +InputBlock__FieldDescription('default')(class='InputBlock_PdTop_3px')
                            Select.DropdownGuests(multiple='multiple', id="DropdownGuests2", name='DropdownGuests', size='3')
                                +DropdownGuests__Option('большие')(value='moreThanAdults')
                                +DropdownGuests__Option('маленькие')(value='moreThanChildren')
                                +DropdownGuests__Option('очсень маленькие')(value='moreThanBabies')
                        +InputBlock()(class='Wrapper__FormElements')
                            +InputBlock__Wrapper()
                                +InputBlock__FieldName('text field')
                                +InputBlock__FieldDescription('default')
                            +InputBlock__InputField()(class='InputBlock_Color_Dark25', type='text', placeholder='Email')
                        +InputBlock()(class='Wrapper__FormElements')
                            +InputBlock__Wrapper()
                                +InputBlock__FieldName('text field')
                                +InputBlock__FieldDescription('HOVER / FOCUS')(class='InputBlock_PdTop_3px')
                            +InputBlock__InputField()(class='InputBlock_Color_Dark75', type='text', placeholder='This is pretty awesome')
                        +InputBlock()(class='Wrapper__GuestsDropdown')
                            +InputBlock__Wrapper
                                +InputBlock__FieldName('dropdown')
                                +InputBlock__FieldDescription('default')(class='InputBlock_PdTop_3px')
                            Select.DropdownGuests(multiple='multiple', id="DropdownGuests", name='DropdownGuests', size='3')
                                +DropdownGuests__Option('взрослые')(value='adults')
                                +DropdownGuests__Option('дети')(value='children')
                                +DropdownGuests__Option('младенцы')(value='babies')
                            //- +InputBlock__WrapperForSelectWithArrow()
                            //-     +InputBlock__SelectArrow('expand_more')
                            //-     Select.InputBlock__InputField.InputBlock_Appearan_none.InputBlock_PdTop_11px.InputBlock_LetterSpacing_0px.InputBlock_Color_Dark75
                            //-         +InputBlock__Option('Сколько гостей', 'selected')
                            //-         +InputBlock__Option()
                            //-         +InputBlock__Option()               
                        +InputBlock()(class='Wrapper__MasketField')
                            +InputBlock__Wrapper()
                                +InputBlock__FieldName('masked text field')
                                +InputBlock__FieldDescription('default')(class='InputBlock_PdTop_2px')
                            +InputBlock__InputField()(class='InputBlock_Color_Dark75', type='text', placeholder='ДД.ММ.ГГГГ')                        
                        +Wrapper__DateDropdown()
                            +InputBlock()
                                +InputBlock__Wrapper()
                                    +InputBlock__FieldName('date dropdown')
                                +InputBlock__WrapperForSelectWithArrow()
                                    +InputBlock__SelectArrow('expand_more')
                                    Select.InputBlock__InputField.InputBlock_Appearan_none.InputBlock_LetterSpacing_0px.InputBlock_Color_Dark75.InputBlock_Width_150px.InputBlock_PdTop_11px
                                        +InputBlock__Option('ДД.ММ.ГГГГ', 'selected')
                                        +InputBlock__Option()
                                        +InputBlock__Option()  
                            +InputBlock()
                                +InputBlock__Wrapper()
                                    +InputBlock__FieldName('date dropdown')
                                +InputBlock__WrapperForSelectWithArrow()
                                    +InputBlock__SelectArrow('expand_more')
                                    Select.InputBlock__InputField.InputBlock_Appearan_none.InputBlock_MrBot_19px.InputBlock_Color_Dark75.InputBlock_Width_150px.InputBlock_PdTop_11px.InputBlock_MrBot_37px
                                        +InputBlock__Option('19.08.2019', 'selected')
                                        +InputBlock__Option()
                                        +InputBlock__Option()
                        +InputBlock()
                            +InputBlock__Wrapper()
                                +InputBlock__FieldName('filter rate dropdown')
                            +InputBlock__WrapperForSelectWithArrow()
                                +InputBlock__SelectArrow('expand_more')
                                Select.InputBlock__InputField.InputBlock_Width_266px.InputBlock_Appearan_none.InputBlock_PdTop_11px.InputBlock_LetterSpacing_0px.InputBlock_MrBot_39px.InputBlock_Color_Dark75
                                    +InputBlock__Option('19 авг - 23 авг', 'selected')
                                    +InputBlock__Option()
                                    +InputBlock__Option() 
                        +InputBlock()
                            +InputBlock__Wrapper()
                                +InputBlock__FieldName('subscription text field')
                            +InputBlock__WrapperForSelectWithArrow()
                                +InputBlock__SelectArrow('arrow_forward')
                                Select.InputBlock__InputField.InputBlock_Width_266px.InputBlock_Appearan_none.InputBlock_PdTop_11px.InputBlock_LetterSpacing_0px.InputBlock_MrBot_97px.InputBlock_Color_Dark75
                                    +InputBlock__Option('Email', 'selected')
                                    +InputBlock__Option()
                                    +InputBlock__Option()
                        +InputBlock()(class='Wrapper__FacilitiesDropdown')           
                            +InputBlock__Wrapper(class='InputBlock_Width_265px')
                                +InputBlock__FieldName('dropdown')
                                +InputBlock__FieldDescription('default')(class='InputBlock_PdTop_3px')
                            select.Dropdown(multiple='multiple', id="dropdownFacilities", name='dropdownFacilities', size='3')
                                +Dropdown__Option('спальни', 'selected')(value='bedrooms')
                                +Dropdown__Option('кровати', 'selected')(value='beds')                                
                                +Dropdown__Option('комнаты')(value='bathrooms')
                        +InputBlock()(class='Wrapper__FacilitiesDropdown')           
                            +InputBlock__Wrapper(class='InputBlock_Width_265px')
                                +InputBlock__FieldName('dropdown')
                                +InputBlock__FieldDescription('expanded')(class='InputBlock_PdTop_3px')
                            select.Dropdown(multiple='multiple', id="dropdownFacilitiesExpanded", name='dropdownFacilities', size='3')
                                +Dropdown__Option('спальни', 'selected')(value='bedrooms')
                                +Dropdown__Option('кровати', 'selected')(value='beds')                                
                                +Dropdown__Option('ванные комнаты')(value='bathrooms')                                               
                    +Wrapper()
                        +Wrapper()
                            +Wrapper()
                            +Wrapper()
                        +Wrapper()
