include ../Common.blocks/container/container.pug
include ../Common.blocks/main-title/main-title.pug
include ../Common.blocks/widget-title/widget-title.pug
include ../Common.blocks/label-text/label-text.pug
include ../Common.blocks/body-text/body-text.pug
include ../Common.blocks/html/html.pug


doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimized' content='width')


    body
        +container
            //
            //+container-Layout
            //    +Logo
            //    +ColorsAndType
            //        +ColorsAndType-Wrapper
            //            +ColorsExamples
            //                +ColorExample.ColorExample_darkened_100
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Dark Shade 100%
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
            //            +ColorsExamples
            //                +ColorExample.ColorExample_darkened_75
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Dark Shade 75%
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
            //            +ColorsExamples
            //                +ColorExample.ColorExample_darkened_50
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Dark Shade 50%
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
            //            +ColorsExamples
            //                +ColorExample.ColorExample_darkened_25
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Dark Shade 25%
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
            //            +ColorsExamples
            //                +ColorExample.ColorExample_darkened_05
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Dark Shade 5%
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #1F2041
            //            +ColorsExamples
            //                +ColorExample.ColorExample_purple
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Purple
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #BC9CFF
            //            +ColorsExamples
            //                +ColorExample.ColorExample_green
            //                +ColorsExamples-Description
            //                    +TitleInsideWidget Green
            //                    +TitleInsideWidget.TitleInsideWidget_text_regular.ColorExample-ColorName #6FCF97
            //        +ColorsAndType-Wrapper
            //            +ExampleText
            //                +BodyText.BodyText_darkened_25.ExampleText-Header.ExampleText-Header_fontSize_h1 H1
            //                +WidgetTitle.ExampleText-Text This one is the sub-section or widget title
            //            +ExampleText
            //                +BodyText.BodyText_darkened_25.ExampleText-Header.ExampleText-Header_fontSize_h2 H2
            //                +TitleInsideWidget.ExampleText-Text Next one is the item title inside widgets
            //            +ExampleText
            //                +LabelText.LabelText_darkened_25.LabelText_text_regular.ExampleText-Header H3
            //                +LabelText.ExampleText-Text This is a label or CTA text
            //            +ExampleText.ExampleText_direction_top
            //                +BodyText.BodyText_darkened_25.ExampleText-Header Body
            //                +BodyText.ExampleText-Text.ExampleText-Text_text_wrapping This is the body text which is used for most of the design, like paragraphs, lists, etc.
            ////
            //// End of Colors&Type layout
            ////
            //+Container-Layout.Container-Layout_size_formElementsLayout
            //    +Logo
            //    +FormElements
            //        +FormElements-Wrapper
            //            +FormElements-CorrectiveWrapper
            //                +FieldOfSignIn.FormElements-TxField
            //                    +FieldOfSignIn-Header
            //                        +LabelText text field
            //                        +LabelText.LabelText_darkened_50.LabelText_text_regular default
            //                    +InputField(type='text', placeholder='Email')
            //                +FieldOfSignIn.FormElements-TxField.FormElements-TxField_indentB_20px
            //                    +FieldOfSignIn-Header
            //                        +LabelText text field
            //                        +LabelText.LabelText_darkened_50.LabelText_text_regular hover / focus
            //                    +InputField(type='text', placeholder='This is pretty awesome')
            //                +FieldOfSignIn.FormElements-DropdownGuests
            //                    +FieldOfSignIn-Header
            //                        +LabelText Dropdown
            //                        +LabelText.LabelText_darkened_50.LabelText_text_regular default
            //                    +DropdownGuests(multiple='multiple', id="DropdownGuests", name='DropdownGuests', size='3' data-option-value=['adults', 'children', 'babies'] data-option-content=['взрослые', 'дети', 'младенцы'])
            //                +FieldOfSignIn.FormElements-TxField.FormElements-TxField_indentB_40px
            //                    +FieldOfSignIn-Header
            //                        +LabelText masked text field
            //                        +LabelText.LabelText_darkened_50.LabelText_text_regular default
            //                    +InputField(type='text' data-type="date" placeholder='ДД.ММ.ГГГГ')
            //                +DropdownDatepicker.FormElements-Datepicker
            //                    +DropdownDatepicker-WrapperForDropdown
            //                        +LabelText.DropdownDatepicker-Header date dropdown
            //                        +DropdownDatepicker-ArrivalDate
            //                            +DropdownDatepicker-InputHidden(type="hidden")
            //                            +DropdownDatepicker-Open ДД.ММ.ГГГГ
            //                            +DropdownDatepicker-Icon
            //                                i.material-icons expand_more
            //                        +DropdownDatepicker-AirDatepicker
            //                    +DropdownDatepicker-WrapperForDropdown
            //                        +LabelText.DropdownDatepicker-Header date dropdown
            //                        +DropdownDatepicker-DateOfDeparture
            //                            +DropdownDatepicker-InputHidden(type="hidden")
            //                            +DropdownDatepicker-Open 19.08.2019
            //                            +DropdownDatepicker-Icon
            //                                i.material-icons expand_more
            //                +FieldOfSignIn.FormElements-FilterDateDropdown
            //                    +FieldOfSignIn-Header
            //                        +LabelText filter date dropdown
            //                    +FilterDateDropdown
            //                        +FilterDateDropdown-Dropdown
            //                            +FilterDateDropdown-InputHidden(type='hidden')
            //                            +FilterDateDropdown-Open 19 авг - 23 авг
            //                            +FilterDateDropdown-Icon
            //                                i.material-icons expand_more
            //                        +FilterDateDropdown-AirDatepicker()
            //            +FieldOfSignIn.FormElements-SubscrTxField
            //                +FieldOfSignIn-Header
            //                    +LabelText subscription text field
            //                +SubscrTxField.FormElSubscrTxField
            //                    +SubscrTxField-InputField(type='text' placeholder='Email')
            //                    +SubscrTxField-Icon('arrow_forward')
            //            +FieldOfSignIn.FieldOfSignIn_widthFacilities.FormElements-DropdownFacilities
            //                +FieldOfSignIn-Header
            //                    +LabelText dropdown
            //                    +LabelText.LabelText_darkened_50.LabelText_text_regular default
            //                +DropdownFacilities(multiple='multiple', id="dropdownFacilities", name='dropdownFacilities', size='3' data-option-value=['bedrooms', 'beds', 'bathrooms'] data-option-content=['спальни', 'кровати', 'ванные комнаты'] data-option-declension=[['спален', 'спальня', 'спальни'],['кроватей', 'кровать', 'кровати'],['ванных комнат', 'ванная комната', 'ванные комнаты']])
            //            +FieldOfSignIn.FieldOfSignIn_widthFacilities.FormElements-DropdownFacilities_expanded
            //                +FieldOfSignIn-Header
            //                    +LabelText dropdown
            //                    +LabelText.LabelText_darkened_50.LabelText_text_regular expanded
            //                +DropdownFacilities(multiple='multiple', id="dropdownFacilitiesExpanded", name='dropdownFacilities', size='3' data-option-value=['bedrooms', 'beds', 'bathrooms'] data-option-content=['спальни', 'кровати', 'ванные комнаты'] data-option-declension=[['спален', 'спальня', 'спальни'], ['кроватей', 'кровать', 'кровати'], ['ванных комнат', 'ванная комната', 'ванные комнаты']])
            //
            //            // Expandable checkbox list roll up
            //            +CheckboxList.FormElements-ExpandableCheckboxListRollUp
            //                +CheckboxList-Header.CheckboxList-Header_expandable
            //                    +LabelText expandable checkbox list
            //                    +CheckboxList-Icon
            //                        i.material-icons expand_more
            //                +CheckboxList-ExpandableCnt
            //                    +List
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Завтрак
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Письменный стол
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Стул для кормления
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Кроватка
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Телевизор
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Шампунь
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Телевизор
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Шампунь
            //
            //            // Expandable checkbox list
            //            +CheckboxList.FormElements-ExpandableCheckboxList
            //                +CheckboxList-Header.CheckboxList-Header_expandable(id='ExpandableCheckboxList')
            //                    +LabelText expandable checkbox list
            //                    +CheckboxList-Icon
            //                        i.material-icons expand_more
            //                +CheckboxList-ExpandableCnt
            //                    +List
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Завтрак
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Письменный стол
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Стул для кормления
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Кроватка
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Телевизор
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Шампунь
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Телевизор
            //                        +List-Item
            //                            +Checkbox(type="checkbox")
            //                            +BodyText.List-Text Шампунь
            //
            //            // Room details
            //            +RoomDetails
            //                i.material-icons.RoomDetails-Icon insert_emoticon
            //                +ListItemDescr.RoomDetails-Text
            //                    +BodyText.BodyText_bold Комфорт
            //                    +BodyText Шумопоглощающие стены
            //            +RoomDetails
            //                i.material-icons.RoomDetails-Icon location_city
            //                +ListItemDescr.RoomDetails-Text
            //                    +BodyText.BodyText_bold Удобство
            //                    +BodyText Окно в каждой из спален
            //        +FormElements-RigthWrapper
            //            +FormElements-RigthWrapperForButtons
            //                +FormElements-LeftColumn
            //
            //                    // Checkbox Buttons
            //                    +CheckboxList.FormElements-CheckboxButtons(id='CheckboxButtons')
            //                        +CheckboxList-Header.CheckboxList-Header_theme_checkboxButtons
            //                            +LabelText Checkbox Buttons
            //                        +List
            //                            +List-Item
            //                                +Checkbox(type="checkbox")
            //                                +BodyText.List-Text Можно курить
            //                            +List-Item
            //                                +Checkbox(type="checkbox")
            //                                +BodyText.List-Text Можно с питомцами
            //                            +List-Item
            //                                +Checkbox(type="checkbox")
            //                                +BodyText.List-Text Можно пригласить гостей (до 10 человек)
            //
            //                    // Radio Buttons
            //                    +FormElements-RadioButtons
            //                        +LabelText.FormElements-RadioButtonsTitle Radio Buttons
            //                        +RadioButtons
            //                            +RadioButtons-Wrapper
            //                                +RadioButtons-RadioButton.RadioButtons-RadioButton_active(type="radio" name="gender" value="men" checked)
            //                                +BodyText.RadioButtons-Label Мужчина
            //                            +RadioButtons-Wrapper
            //                                +RadioButtons-RadioButton(type="radio" name="gender" value="women")
            //                                +BodyText.RadioButtons-Label Женщина
            //
            //                    // Toggle
            //                    +FormElements-Toggle
            //                        +LabelText.FormElements-ToggleTitle Toggle
            //                        +ToggleBlock.FormElements-ToggleSeparator
            //                            +ToggleButton(type="checkbox" id="toggleOn")
            //                            +BodyText.ToggleBlock-Descr Получать спецпредложения
            //                        +ToggleBlock
            //                            +ToggleButton(type="checkbox")
            //                            +BodyText.ToggleBlock-Descr Получать спецпредложения
            //
            //                    //Like button
            //                    +FormElements-LikeButtons
            //                        +LabelText.FormElements-LikeButtonsTitle like button
            //                        +FormElements-LikeBtnsWrapper
            //                            +LikeButton.FormElements-LikeBtnSeparator
            //                                +LikeButton-GradientBorder
            //                                    +LikeButton-Label
            //                                        +LikeButton-Button(type="hidden" name="likes")
            //                                        +LikeButton-Icon favorite_border
            //                                        +LikeButton-NumberLikes 2
            //                            +LikeButton
            //                                +LikeButton-GradientBorder.LikeButton-GradientBorder_active
            //                                    +LikeButton-Label
            //                                        +LikeButton-Button(type="hidden" name="likes")
            //                                        +LikeButton-Icon.LikeButton-Icon_active favorite
            //                                        +LikeButton-NumberLikes.LikeButton-NumberLikes_active 12
            //
            //                    // Rate buttons
            //                    +FormElements-RateButtons
            //                        +LabelText.FormElements-RateButtonsTitle rate button
            //                        +FormElements-RateButtonWrapper
            //                            +RateButton.FormElements-RateButtonsSeparator(id="rateButton")
            //                                +RateButton-InputHidden(type="hidden" name="rating" value="0")
            //                                +RateButton-ListStars
            //                                    each val, index in ['1', '2', '3', '4', '5']
            //                                        +RateButton-Star(data-id=val)
            //                                            +RateButton-StarIcon(data-id=val) star_border
            //                            +RateButton(id="rigthRateButton")
            //                                +RateButton-InputHidden(type="hidden" name="rating" value="0")
            //                                +RateButton-ListStars
            //                                    each val, index in ['1', '2', '3', '4', '5']
            //                                        +RateButton-Star(data-id=val)
            //                                            +RateButton-StarIcon(data-id=val) star_border
            //
            //                    +Wrapper-SecondDropdownGuests()
            //                        +InputBlock()(class='')
            //                            +InputBlock-Wrapper
            //                                +InputBlock-FieldName('dropdown')
            //                                +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
            //                            +InputBlock-Form()
            //                                //Select.DropdownGuests(multiple='multiple', id="DropdownGuests2", name='DropdownGuests', size='3')
            //                                    +DropdownGuests-Option('взрослые')(value='adults')
            //                                    +DropdownGuests-Option('дети')(value='children')
            //                                    +DropdownGuests-Option('младенцы')(value='babies')
            //                    +RichCheckboxButtons()
            //                        +TitleBlock.RichCheckboxButtons-Header()
            //                            +TitleBlock-H3(style="margin-bottom: 16px") rich checkbox buttons
            //                        +List
            //                            +List-Item.RichCheckboxButtons-Item()
            //                                +InputForButtonsAndInputs()
            //                                    +InputForButtonsAndInputs-Checkbox(type="checkbox")
            //                                +List-WrapperForDescription()
            //                                    +TitleForButtonsAndInputs.RichCheckboxButtons-Title() Широкий коридор
            //                                    +DescriptionForButtonsAndInputs.RichCheckboxButtons-Description() Ширина коридоров в номере не менее 91 см.
            //                            +List-Item.RichCheckboxButtons-Item()
            //                                +InputForButtonsAndInputs()
            //                                    +InputForButtonsAndInputs-Checkbox(type="checkbox")
            //                                +List-WrapperForDescription()
            //                                    +TitleForButtonsAndInputs.RichCheckboxButtons-Title() Помощник для инвалидов
            //                                    +DescriptionForButtonsAndInputs.RichCheckboxButtons-Description() На 1 этаже вас встретит специалист и проводит до номера.
            //                +FormElements-RigthColumn
            //                    //+RangeSliderBlock()
            //                    +Wrapper-RangeSlider()
            //                        +RangeSlider()
            //                            +RangeSlider-Wrapper()
            //                                +RangeSlider-Title()
            //                                    +TitleBlock()
            //                                        +TitleBlock-H3(style="margin-bottom: 16px; margin-top: 0px;") Range Slider
            //                                +RangeSlider-Range(type="text" data-amount="" readonly )
            //                            +RangeSlider-Slider()
            //                    //
            //                    +Wrapper-Buttons()
            //                        +ButtonsBlock()
            //                            +TitleBlock()
            //                                +TitleBlock-H3(style="margin-bottom: 15px; margin-top: 0px;") buttons
            //                            +ButtonsBlock-WrapperForSamples()
            //                                +ButtonsBlock-WrapperForLeftButton()
            //                                    +Button()
            //                                        +Button-Btn() click me
            //                                +Button()
            //                                    +Button-Btn.Button-Btn_active() click me
            //                            +ButtonsBlock-WrapperForSamples()
            //                                +ButtonsBlock-WrapperForLeftButton()
            //                                    +Button()
            //                                        +Button-Content()
            //                                            +GradientButton()
            //                                                +GradientButton-Btn() click me
            //                                +Button()
            //                                    +Button-Content.Button-Content_active()
            //                                        +GradientButton()
            //                                            +GradientButton-Btn() click me
            //                            +ButtonsBlock-WrapperForSamples()
            //                                +ButtonsBlock-WrapperForLeftButton()
            //                                    +Button()
            //                                        +Button-GhostBtn() click me
            //                                +Button()
            //                                    +Button-GhostBtn.Button-GhostBtn_active() click me
            //                            +ButtonsBlock-WrapperForSamples()
            //                                +PayButton()
            //                                    +PayButton-Text() перейти к оплате
            //                                    +PayButton-Arrow() arrow_forward
            //                    //+PaginationBlock()
            //                    +Wrapper-Pagination()
            //                        +Wrapper-PaginationTitle()
            //                            +TitleBlock.ExpandableCheckboxList-Header()
            //                                +TitleBlock-H3() pagination
            //                        +Pagination()
            //                            +Pagination-List()
            //                                +Pagination-Page(style="display: none;")
            //                                    +Pagination-PrevNextPage('#', 'arrow_back')
            //                                +Pagination-Page()
            //                                    +Pagination-LinkPage('#')(class="Pagination-LinkPage_active") 1
            //                                +Pagination-Page()
            //                                    +Pagination-LinkPage('#') 2
            //                                +Pagination-Page()
            //                                    +Pagination-LinkPage('#') 3
            //                                +Pagination-Page()
            //                                    +Pagination-Dots() ...
            //                                +Pagination-Page()
            //                                    +Pagination-LinkPage('#') 15
            //                                +Pagination-Page()
            //                                    +Pagination-PrevNextPage('#', 'arrow_forward')
            //                            +Pagination-AmountObjsOnPage() 1 – 12 из 100+ вариантов аренды
            //                    +Wrapper-ThirdDropdownGuests()
            //                        +InputBlock()
            //                            +InputBlock-Wrapper
            //                                +InputBlock-FieldName('dropdown')
            //                                +InputBlock-FieldDescription('default')(class='InputBlock_pdTop_3px')
            //                            +InputBlock-Form()
            //                                //Select.DropdownGuests(multiple='multiple', id="DropdownGuests3", name='DropdownGuests', size='3')
            //                                    +DropdownGuests-Option('взрослые')(value='adults')
            //                                    +DropdownGuests-Option('дети')(value='children')
            //                                    +DropdownGuests-Option('младенцы')(value='babies')
            //                    +BulletList()
            //                        +TitleBlock.ExpandableCheckboxList-Header()
            //                            +TitleBlock-H3() Bullet List
            //                        +List
            //                            +List-Item()
            //                                +DescriptionForButtonsAndInputs() Нельзя с питомцами
            //                            +List-Item()
            //                                +DescriptionForButtonsAndInputs() Без вечеринок и мероприятий
            //                            +List-Item()
            //                                +DescriptionForButtonsAndInputs() Время прибытия — после 13:00, а выезд до 12:00
            //
            //            +FormElements-RigthWrapperForComment
            //                +Wrapper-Footer()
            //                    +CommentBlock()
            //                        +FigureDescriptionBlock()
            //                            +FigureDescriptionBlock-Wrapper()
            //                                +ImageForButtonsAndInputs()
            //                                    i.material-icons insert_emoticon
            //                                +FigureDescriptionBlock-Figcaption()
            //                                    +TitleForButtonsAndInputs() Мурад Сарафанов
            //                                    +DescriptionForButtonsAndInputs() 5 дней назад
            //                        +CommentBlock-WrapperLikeAndDescription()
            //                            +CommentBlock-WrapperLike()
            //                                +LikeButton()
            //                            +CommentBlock-WrapperDescription()
            //                                +DescriptionForButtonsAndInputs() Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
            //

//+Wrapper-CheckboxButtons
// миксин для одинаковых шрифтов
// один блок для всех describe
// один блок для всех заголовков
// один блок для bullet list
// каждый list разный потому что задает разное размещение блоков
// js только в блоке
// коммент
// провырить форм тег и як использууться на макеты блоки
// рефакторинг
//У меня есть миксин в котором я пишу любое число (можно и не целое) и оно создает соответственно нужное количество звезд
