include ../Common.blocks/filter-datepicker/filter-datepicker.pug
include ../Common.blocks/dropdown-datepicker/dropdown-datepicker.pug
include ../Common.blocks/dropdown-guests/dropdown-guests.pug
include ../Common.blocks/input/input.pug
include ../Common.blocks/text-field/text-field.pug
include ../Common.blocks/form-elements/form-elements.pug
//include ../Common.blocks/widget-title/widget-title.pug
//include ../Common.blocks/body-text/body-text.pug
include ../Common.blocks/font-example/font-example.pug
//include ../Common.blocks/inner-title/inner-title.pug
include ../Common.blocks/color-example/color-example.pug
include ../Common.blocks/uikit-logo/uikit-logo.pug
include ../Common.blocks/container/container.pug


doctype html
html
    head
        title UI Kit
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        meta(name='MobileOptimized' content='width')


    body
        +container

            // Colors & Type
            +container__layout({theme: 'colors-fonts'})

                +container__layout-logo
                    +uikit-logo

                +container__layout-examples

                    +container__layout-colors
                        -let colorsExampleArr = [['dark-100','Dark Shade 100%', '#1F2041'],
                        -                        ['dark-75', 'Dark Shade 75%', '#1F2041'],
                        -                        ['dark-50', 'Dark Shade 50%', '#1F2041'],
                        -                        ['dark-25', 'Dark Shade 25%', '#1F2041'],
                        -                        ['dark-05', 'Dark Shade 5%', '#1F2041'],
                        -                        ['purple', 'Purple', '#BC9CFF'],
                        -                        ['green', 'Green', '#6FCF97']];
                        each val, key in colorsExampleArr
                            +color-example({font: 'bold', text: 'green'},{theme: val[0], colorName: val[1], hexColor: val[2]})

                    +container__layout-fonts
                        -let fontExample = [['H1','This one is the sub-section or widget title'],
                        -                   ['H2', 'Next one is the item title inside widgets'],
                        -                   ['H3', 'This is a label or CTA text'],
                        -                   ['Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.']];
                        each val, key in fontExample
                            +font-example({},{tagName: val[0], fontExampleName: val[1]})



            // Form Elements
            +container__layout({theme: 'form-elements'})

                +container__layout-logo
                    +uikit-logo

                +form-elements
                    +form-elements__left-col
                        +form-elements__corrective-wrapper

                            +form-elements__component-wrapper
                                +text-field({},{fieldType: 'text field', fieldState: 'default'})
                                    +input(type='text' placeholder='Email')


                            +form-elements__component-wrapper
                                +text-field({},{fieldType: 'text field', fieldState: 'Hover / Focus'})
                                    +input({selected: 'input'})(type='text' placeholder='This is pretty awesome')


                            +form-elements__component-wrapper
                                +text-field({},{fieldType: 'text field', fieldState: 'Hover / Focus'})
                                    +dropdown-guests(multiple='multiple', id="DropdownGuests", name='DropdownGuests', size='3' data-option-value=['adults', 'children', 'babies'] data-option-content=['взрослые', 'дети', 'младенцы'])


                            +form-elements__component-wrapper
                                +text-field({},{fieldType: 'text field', fieldState: 'Hover / Focus'})
                                    +input(type='date', placeholder='ДД.ММ.ГГГГ')


                            +form-elements__component-wrapper({theme: 'datepicker'})
                                +dropdown-datepicker


                            +form-elements__component-wrapper({theme: 'filter-datepicker'})
                                +text-field({},{fieldType: 'filter date dropdown'})
                                    +filter-datepicker({}, {iconTag: 'i', iconClass: 'material-icons', iconContent: 'expand_more'})
