@media only screen and (max-width: 576px) {
  .FieldOfSignIn-Header {

  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .FieldOfSignIn-Header {

  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .FieldOfSignIn-Header {

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .FieldOfSignIn-Header {

  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .FieldOfSignIn-Header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .FieldOfSignIn-Header {

  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .FieldOfSignIn-Header {

  }
}

