@media only screen and (max-width: 576px) {
 .Wrapper-DateDropdown {

}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
 .Wrapper-DateDropdown {

 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .Wrapper-DateDropdown {

 }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
 .Wrapper-DateDropdown {

 }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
 .Wrapper-DateDropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 37px;
    padding-top: 20px;
 }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
 .Wrapper-DateDropdown {

 }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
 .Wrapper-DateDropdown {

 }
}

