.radio-buttons__radio-button {
  position: relative;
  appearance: none;
  background: $background;
  /* Dark 25% */
  border: 1px solid $DarkShade25;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin: 0;
}

@media only screen and (min-width: 321px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 576px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 768px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 992px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 1200px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 1440px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 1681px) {
  .radio-buttons__radio-button {

  }
}

@media only screen and (min-width: 1681px) {
  .radio-buttons__radio-button {

  }
}

