$ExampleText_fontSize_24px: 24px;
$ExampleText_fontSize_19px: 19px;
$ExampleText_fontSize_14px: 14px;
$ExampleText_fontSize_12px: 12px;

$DarkShade100: #1F2041;
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade05: rgba(31, 32, 65, 0.05);

$background: #FFFFFF;
$DatepickerArrowColor: #BC9CFF;
$colorApplyButtonGuestsDropdown: #BC9CFF;