@media only screen  and (max-width: 576px) {
 .DropdownFacilities {

}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
 .DropdownFacilities {

 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .DropdownFacilities {

 }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
 .DropdownFacilities {

 }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .DropdownFacilities {
    @include textCentering;
    flex-direction: row-reverse;
    justify-content: space-between;
    //display: block;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    width: 266px;
    height: 44px;
    padding: 0 0 0 14px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: $DarkShade75;
    box-shadow: 0px 10px 20px $DarkShade05;
    &:after {
      border: none;
      box-shadow: none;
    }
    &:before {
      border: none;
      box-shadow: none
    }
    &:hover {
      border-color: $DarkShade50;
    }
    &:focus {
      outline: none;
      border-color: $DarkShade50;
    }
    /**
    * This adds "..." to the end of the string that locate in widget field
    */
    & .DropdownFacilities-WidgetText {
      @include BodyText;
      @include textCentering;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: auto;
    }
    & .DropdownFacilities-Icon {
      @include textCentering;
      width: 42px;
      height: 42px;
      bottom: 0px;
    }

  }


  [data-dropdown-facilities].ui-multiselect-menu {
    box-sizing: border-box;
    border-top-width: 0;
    padding: 0px 3px 5px 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    & .ui-multiselect-checkboxes label {
      //
      //display: -webkit-flex;
      //display: -moz-flex;
      //display: -ms-flex;
      //display: -o-flex;
      //display: flex;
      @include textCentering;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      text-indent: 0px;
      border: 0px solid transparent;
    }

    & .ui-multiselect-checkboxes span {
      @include LabelText;
    }

    & .ui-multiselect-checkboxes li {
      padding: 0;
      margin: 0;
      padding: 5px 0 0 0;
    }

    label.ui-corner-all.ui-state-hover {
      background: transparent;
      border: 0px solid transparent;
      margin: 0;
      padding: 0;
    }

    .ui-widget input {
      font-size: 12px;
      line-height: 15px;
      font-family: Montserrat-bold;
    }

    .ui-widget button {
      font-size: 18px;
      line-height: 22px;
      font-family: Montserrat-Regular;
    }

    .ui-multiselect-checkboxes .cursorPointer {
      order: -1;
      font-family: "Montserrat-bold";
      font-size: 12px;
      line-height: 15px;;
      text-transform: uppercase;
      padding-top: 7px;
    }

    .ui-multiselect-checkboxes input {
      padding: 0 0 8px 0;
      outline: none;
    }
    .ui-multiselect-checkboxes {
      padding: 0 0 0 1px;
    }



    .ui-multiselect-checkboxes input[type=checkbox] {
      display: none;
    }


    .ui-multiselect-checkboxes .DropdownFacilities-QuantityBlock {
      display: flex;
    }
    .ui-multiselect-checkboxes .DropdownFacilities-QuantityIconMinus, .ui-multiselect-checkboxes .DropdownFacilities-QuantityIconPlus {
      @include textCentering;
      height: 30px;
      width: 30px;
      margin-bottom: 2px;
      text-align: center;
      vertical-align: middle;
      font-family: Montserrat;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: $DarkShade50;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid $DarkShade25;
      outline: none;
      cursor: pointer;
    }
    .ui-multiselect-checkboxes .DropdownFacilities-QuantityNum {
      @include LabelText;
      width: 32px;
      padding: 0 0 6px 0;
      background: transparent;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      text-align: center;
      vertical-align: middle;
      outline: none;
      &:hover {
        background: transparent;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: default;
      }
      &:focus {
        background: transparent;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
      }
      &:visited {
        background: transparent;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
      }
    }
    .ui-multiselect-checkboxes .DropdownFacilities-QuantityIconMinus_noActive {
      border-color: $DarkShade05;
    }

  }






}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
 .DropdownFacilities {

 }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
 .DropdownFacilities {

 }
}

