include ./__name/font-example__name.pug
include ./__tag-name/font-example__tag-name.pug
include ../widget-title/widget-title.pug
include ../body-text/body-text.pug

mixin font-example(modifiers, ...argsArr)
    -let modifierNames = '';
    -let args = (argsArr[0] !== undefined) ? argsArr[0] : {};
    -if (args.tag === undefined) args.tag = 'div';
    -if (modifiers === undefined) modifiers = '';
        each val, key in modifiers
            -if (val !== undefined) modifierNames += 'font-example_' + key + '_' + val + ' ';
    #{args.tag}.font-example&attributes(attributes)(class=modifierNames)
        +font-example__tag-name
            +body-text #{args.tagName}
        +font-example__name
            +widget-title #{args.fontExampleName}
        if block
            block
