.Logo__Parth2 {
  position: relative;
  top: -9px;
  left: 20px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: transparent;
  border: 2.5px solid rgba(31, 32, 65, 0.25);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-8deg);
  &::after {
    content: '';
    position: relative;
    display: block;
    background-color: #FFFFFF;
    width: 6px;
    height: 6px;
    left: 12px;
    top: -2px;
    transform: rotate(8deg);
  }
}
