@media only screen and (max-width: 576px) {
 .DropdownGuests {

}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
 .DropdownGuests {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    padding: 12px 14px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: $DarkShade75;
    &:after {
     border: none;
     box-shadow: none;
    }
    &:before {
     border: none;
     box-shadow: none
    }
    &:hover {
     border-color: $DarkShade50;
    }
    &:focus {
     border-color: $DarkShade50;
    }
  }
  .ui-multiselect-header {
    background-color: white;
    border: none;
    padding: 17px 4px 3px 0;
  }
  .ui-multiselect-header .ui-helper-reset {
    display: flex;
    justify-content: space-between;
    
  }
  .ui-multiselect-none {
    visibility: hidden;
  }
  .ui-multiselect-header li {
    margin: 0;
  }
  .ui-widget .ui-multiselect-apply {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
  .ui-icon-closethick {
    display: none;
    
  }
  .ui-multiselect-none {
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $DarkShade50;
  }
  .ui-multiselect-checkboxes span {
    order: -1;
    font-family: "Montserrat-bold";
    font-size: 12px;
    line-height: 15px;;
    text-transform: uppercase;
    padding-top: 6px;
  }
  .ui-multiselect-checkboxes input {
    padding: 0 0 8px 0;
  }
  .ui-multiselect-checkboxes {
    padding: 0 0 0 1px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
 .DropdownGuests {

 }
}

