@media only screen and (max-width: 576px) {
 .DropdownGuests {

}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .DropdownGuests {
    @include BodyText;
    line-height: 18px;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    width: 320px;
    height: 44px;
    padding: 11px 14px;
    letter-spacing: 0;
    background: $background;
    &:after {
      border: none;
      box-shadow: none;
    }
    &:before {
      border: none;
      box-shadow: none;
    }
    &:focus {
      outline: none;
    }
    .ui-multiselect-open {
      position: relative;
      bottom: 3px;
      color: $DarkShade50;
      cursor: pointer;
    }
  }



  [data-dropdown-guests].ui-multiselect-menu {
     box-shadow: 0px 10px 20px $DarkShade05;
     border: 1px solid $DarkShade50;
     border-top-width: 0;
     padding: 0px 3px 5px 13px;
     border-radius: 4px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;

    .ui-multiselect-checkboxes label {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      text-indent: 0px;
      border: 0px solid transparent;
    }

    .ui-multiselect-checkboxes li {
      padding: 0;
      margin: 0;
      padding: 5px 0 0 0;
    }

    label.ui-corner-all.ui-state-hover {
      background: transparent;
      border: 0px solid transparent;
      margin: 0;
      padding: 0;
    }

    .ui-multiselect-header {
      background-color: white;
      border: none;
      padding: 17px 4px 3px 0;
    }
    .ui-multiselect-header .ui-helper-reset {
      display: flex;
      justify-content: space-between;
    }

    .ui-multiselect-header a.ui-multiselect-none {
      visibility: hidden;
      text-decoration: none;
    }

    .ui-multiselect-header a.ui-multiselect-none span{
      text-decoration: none;
    }

    .ui-multiselect-header li {
      margin: 0;
    }

    .ui-multiselect-header .ui-multiselect-none {
      @include LabelText;
      color: $DarkShade50;
    }

    & .ui-multiselect-apply {
      border: none;
      padding: 0;
      margin: 0;
      @include LabelText;
      color: $colorApplyButtonGuestsDropdown;
      background-color: transparent;
      outline: none;
      &:hover {
      cursor: pointer;
      }
      &:focus {
      outline: none;
      }
    }
    .ui-icon-closethick {
      display: none;
    }

    .ui-multiselect-checkboxes span {
      order: -1;
      @include LabelText;
      padding-top: 6px;
    }
    .ui-multiselect-checkboxes input {
      padding: 0 0 8px 0;
      outline: none;
    }
    .ui-multiselect-checkboxes {
      padding: 0 0 0 1px;
    }
    /**
    * This adds "..." to the end of the string that locate in widget field
    */
    .ui-multiselect span:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: auto;
    }

    .ui-multiselect-checkboxes input[type=checkbox] {
      display: none;
    }
    .DropdownGuests-QuantityBlock {
      display: flex;
    }
    .DropdownGuests-QuantityIconMinus, .DropdownGuests-QuantityIconPlus {
      height: 30px;
      width: 30px;
      margin-bottom: 2px;
      text-align: center;
      vertical-align: middle;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid $DarkShade25;
      outline: none;
      color: $DarkShade25;
      &:hover {
        cursor: pointer;
      }
    }
    .DropdownGuests-QuantityNum {
      width: 32px;
      background: transparent;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      text-align: center;
      vertical-align: middle;
      @include LabelText;
      outline: none;
      &:hover {
        background: transparent;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: default;
      }
      &:focus {
        background: transparent;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
      }
      &:visited {
        background: transparent;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
      }
    }
    .DropdownGuests-QuantityIconMinus_noActive {
      border-color: $DarkShade05;
      color: $DarkShade05;
    }
  }

}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
 .DropdownGuests {

 }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
 .DropdownGuests {

 }
}

