mixin color-example__image(args)
    -let modifierNames = '';
    -if (args === undefined) args = '';
        each val, key in args
            -if (val !== undefined) modifierNames += 'color-example__image_' + key + '_' + val
    div.color-example__image&attributes(attributes)(class=modifierNames)
        if block
            block