@media only screen and (max-width: 576px) {
  .ExampleText_width_316px {
    width: 85%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .ExampleText_width_316px {
    width: 85%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .ExampleText_width_316px {
    width: 316px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .ExampleText_width_316px {
    width: 316px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .ExampleText_width_316px {
    width: 316px;
  }
}
